{% extends 'base.html' %} {% load static %} {% block mycss %}
<link rel="stylesheet" href="{% static 'membersjs/login.css' %}" />
{% endblock mycss %} {% block title %} تسجيل دخول {% endblock %} 
{% block content %}
{% if user.is_authenticated %}
<h3>{{ user.first_name }}لقد قمت بتسجيل الدخول بالفعل!</h3>
<br />
<a href="{% url 'logout' %}">تسجيل خروج</a>
{% else %}
<style>
    nav a.logo {
        color: white;
    }
    nav .navlinks,
    nav .register {
        display: none;
    }
</style>
<div class="left">
    <img class="right-image" src="{% static 'images/left.jpg' %}" alt="" />
</div>
<div class="right">
    <h1>
        لاكتشاف المزيد! <br />
        سجل دخول
    </h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="You Email" />
        <input
            type="password"
            name="password"
            placeholder="You Password"
            required
        />
        <button>تسجيل دخول</button>
    </form>
    <a href="{% url 'register' %}">لست مشتركا في الموقع؟ قم بعمل حساب </a>
</div>
{% endif %} {% endblock %}
