{% extends 'base.html' %} {% load static %} {% block mycss %}
<link rel="stylesheet" href="{% static 'membersjs/login.css' %}" />
{% endblock mycss %} {% block title %} Login {% endblock %} {% block content %}
{% if user.is_authenticated %}
<h3>{{ user.first_name }}! You Are Already Logged in!</h3>
<br />
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<style>
    nav a.logo {
        color: white;
    }
    nav .navlinks,
    nav .register {
        display: none;
    }
</style>
<div class="left">
    <img class="right-image" src="{% static 'images/left.jpg' %}" alt="" />
</div>
<div class="right">
    <h1>
        to explore more <br />
        sign up
    </h1>
    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="You Email" />
        <input
            type="password"
            name="password"
            placeholder="You Password"
            required
        />
        <button>sign up</button>
    </form>
    <a href="./signin.html">you don't have account?, create one</a>
</div>
{% endif %} {% endblock %}
