{% extends 'base.html' %}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'membersjs/login.css' %}">
{% endblock mycss %}


{% block title %} Login {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>{{ user.first_name }}! You Are Already Logged in!</h3>
        <br />
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Enter your name" autocomplete="off" />
            <input type="password" name="password" placeholder="Enter your password" />
            <button type="submit" class="LoginBtn">Login</button>
        </form>
    {% endif %}
{% endblock %}