{% extends 'base.html' %}
{% load static %}
{% block title %}عرض سعر طلمبة غاطسة {% endblock %}

{% load humanize %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <button id="card_btn" class="btn btn-primary form-control">الدفع من خلال كارت</button>
         </div>
        <div class="col-6">            
            <button id="wallet_btn" class="btn btn-primary form-control">الدفع من خلال محفظة اليكترونية</button>
        </div>
    </div>
    <br>
    <div id="wallet" hidden class="row">
        <div class="col-12 form-group">
            <form class="form-group" action="">
                <input type="hidden" id="pay_token">
                <label for="phone">ادخل رقم المحفظة الالكترونية</label>
                <input id="phone" class="form-control" type="number"><br>
                <button id="confirm_wallet" disabled class="form-control btn btn-primary">تأكيد الرقم</button>
            </form>
        </div>
    </div>

</div>
<script>
    function card_pay_request(payment_token)  {
                
        url = `https://accept.paymob.com/api/acceptance/iframes/740313?payment_token=${payment_token}`
        window.location.href = url


    }

    function wallet_pay_request(payment_token, wallet_no)  {
        let data = {
            "source": {
              "identifier": wallet_no, 
              "subtype": "WALLET"
            },
            "payment_token": payment_token,
          }
                
        url = 'https://accept.paymob.com/api/acceptance/payments/pay'
        fetch(url, {
            'method' : 'POST',
            'headers' : {
                'Content-Type': 'application/json',
            },
            'body': JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log(response)
                return response.json()
            } else {
            console.log(response)
            }
        })
        .then(data => {
            console.log(data)
            window.location.href = data.iframe_redirection_url

        })
        .catch((error) => {
            console.log(error)
        })

    }

    const request_token = document.getElementById('pay_token')

    function request_payment_key(token, id, gate) {
        if (gate === 'wallet') {
            var int_id = '3544185'
        } else {
            var int_id = '3544186'
        }
        let data = {
            "auth_token": token,
            "amount_cents": "1000", 
            "expiration": 3600, 
            "order_id": id,
            "billing_data": {
              "apartment": "NA", 
              "email": "osama.nasr.01@gmail.com", 
              "floor": "NA", 
              "first_name": "Osama", 
              "street": "NA", 
              "building": "NA", 
              "phone_number": "01027476938", 
              "shipping_method": "NA", 
              "postal_code": "NA", 
              "city": "NA", 
              "country": "Eg", 
              "last_name": "Nasr", 
              "state": "NA"
            }, 
            "currency": "EGP", 
            "integration_id": int_id,
          }
                
        url = 'https://accept.paymob.com/api/acceptance/payment_keys'
        fetch(url, {
            'method' : 'POST',
            'headers' : {
                'Content-Type': 'application/json',
            },
            'body': JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log(response)
                return response.json()
            } else {
            console.log(response)
            }
        })
        .then(data => {
            console.log(data.token) 
            if (gate === 'wallet') {
                const wallet = document.getElementById('wallet')
                wallet.removeAttribute('hidden')
                request_token.value = data.token
            } else {
                card_pay_request(data.token)
            }
        })
        .catch((error) => {
            console.log(error)
        })

    }

    function make_order(token, gate) {
        let data = {
            "auth_token":  token,
            "delivery_needed": "false",
            "amount_cents": "1000",
            "currency": "EGP",
            "items": [],
          }
                
        url = 'https://accept.paymob.com/api/ecommerce/orders'
        fetch(url, {
            'method' : 'POST',
            'headers' : {
                'Content-Type': 'application/json',
            },
            'body': JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log(response)
                return response.json()
            } else {
            console.log(response)
            }
        })
        .then(data => {
            console.log(data.id)
            request_payment_key(token, data.id, gate)
        })
        .catch((error) => {
            console.log(error)
        })

    }

    const api_key = 'ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6VXhNaUo5LmV5SndjbTltYVd4bFgzQnJJam8zTVRZd016a3NJbU5zWVhOeklqb2lUV1Z5WTJoaGJuUWlMQ0p1WVcxbElqb2lhVzVwZEdsaGJDSjkuUHVXVVh1NUlUdDQ2NjdFVmV1YUdzVkZwb0JmQm56N0NFRmtiLVMzNFNmazRnQkhQX3Fxb24yU0R4RkRzeklISDM5c3FJSWE4MUVqcm50LWNvd3k4WUE='
    function get_token(gate) {
        let data = {
            'api_key':api_key,
        }
                
        url = ' https://accept.paymob.com/api/auth/tokens'
        fetch(url, {
            'method' : 'POST',
            'headers' : {
                'Content-Type': 'application/json',
            },
            'body': JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log(response)
                return response.json()
            } else {
            console.log(response)
            }
        })
        .then(data => {
            console.log(data.token)
            make_order(data.token, gate)
        })
        .catch((error) => {
            console.log(error)
        })
    }



    

    const wallet_btn = document.getElementById('wallet_btn')
    wallet_btn.addEventListener('click', function (){
        get_token('wallet')
    })



    const card_btn = document.getElementById('card_btn')
    card_btn.addEventListener('click', function (){
        get_token('card')
    })

    const confirm_btn = document.getElementById('confirm_wallet')

    const wallet_input = document.getElementById('phone')
    wallet_input.addEventListener('change', function (){
        var string = wallet_input.value
        if (string.length === 11){
            const confirm_btn = document.getElementById('confirm_wallet')
            confirm_btn.removeAttribute('disabled')
        }
    })

    confirm_btn.addEventListener('click', function(e){
        e.preventDefault()

        wallet_pay_request(request_token.value, wallet_input.value)
    })



</script>

{% endblock %}

