{% extends 'base.html' %}
<!-- comment  -->
{% load humanize %}
{% load static %}
<!-- comment  -->
{% block title %} {{member.username}} {% endblock %}
<!-- comment  -->
{% block content %} 

<div class="container py-3  px-4 px-lg-5 my-2">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
            <a type="button" data-bs-toggle="modal" data-bs-target="#update-picture-modal">
                {% if member.account.image %}
                <img class="card-img-top mb-5 mb-md-0" src="{{member.account.image.url}}" alt="..." />
                {% else %}
                <img class="card-img-top mb-5 mb-md-0" height="300" width="300" src="/images/1__ARzR7F_fff_KI14yMKBzw.png" alt="..." />
                {% endif %}
            </a>
        </div>
        <div class="col-md-6">
            <div class="small mb-1"></div>
            <h1 class="display-5 fw-bolder">{{ member.full_name }}</h1>
            {% if member.has_company %}
            <div class="fs-5 mb-5">
                <span>مدير شركة {{ member.company.last.name }}</span>
            </div>
            {% else %}
            <div class="fs-5 mb-5">
                <span>مستخدم</span>
            </div>
            {% endif %}
            <p>{{company.owner.full_name}}</p>
            <p><i class='bx bx-phone'></i> {{member.username}}</p>
            <p>@ {{member.email}}</p>
        </div>
    </div>
</div>
<!-- Related items section-->
<div class="container px-4 px-lg-5 mt-2">
    {% if company.tender_offers.count %}
    <h5 class="fw-bolder mb-4"> طلبات عروض الاسعار المقدمة من {{ member.full_name }}</h5>
    {% else %}
    <h5 class="fw-bolder mb-4">لا توجد طلبات عروض اسعار مقدمة من {{ member.full_name }} حتى الان</h5>
    {% endif %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for offer in company.tender_offers.all %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{offer.company.image.url}}" height="150" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{offer.request.tender.name}}</h5>
                        <!-- Product price-->
                        {{offer.value}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            href="{% url 'offer_profile' offer.id %}">تفاصيل العرض</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}