{% extends 'base.html' %}
{% load humanize %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>
            <!-- {{member.first_name}} {{ member.last_name }} -->
            {{ user.first_name  }} {{user.last_name}}
        </h3>
        <p>Email : {{ user.email }}</p>
        <p>Username @{{user.username }}</p>
    </div>

    {% if user.offer.all %}
        <a href="{% url 'user_offers'  user.username %}">
            <div>
                <h3>You have requested {{ user.offer.all.count }} offers</h3>
            </div>
        </a>
    {% endif %}

    {% if user.sale.all %}
        <a href="{% url 'user_sales'  user.username %}">
            <div>
                <h3>You have ordered {{ user.sale.all.count }} invoices</h3>
            </div>
        </a>
    {% endif %}


    {% if user.purchase.all %}
        <a href="{% url 'user_purchases'  user.username %}">
            <div>
                <h3>You have delivered {{ user.purchase.all.count }} invoices</h3>
            </div>
        </a>
    {% endif %}
{% endblock %}
