{% extends 'base.html' %}
{% load humanize %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div>
            {% if user.account.image %}
            <img src="/{{user.account.image}}" alt="">
            {% else %}
            <img src="/images/1__ARzR7F_fff_KI14yMKBzw.png" alt="" height="300" width="300">
            {% endif %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-picture-modal">
                update
            </button>

        </div>
        <h3>
            <!-- {{member.first_name}} {{ member.last_name }} -->
            {{ user.first_name  }} {{user.last_name}}
        </h3>
        <p>Email : {{ user.email }}</p>
        <p>Username @{{user.username }}</p>
        <h1>{{ user.balance|floatformat:2|intcomma }}</h1>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-pyment-modal">
        Add Payment
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-receipt-modal">
        Add Receipt
    </button>

    <div class="modal fade" id="update-picture-modal" tabindex="-1" aria-labelledby="update-picture-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-picture-modal">Update Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        {% if user.account.image %}
                        <img src="/{{user.account.image}}" alt="">
                        {% else %}
                        <img src="/images/1__ARzR7F_fff_KI14yMKBzw.png" alt="" height="300" width="300">
                        {% endif %}
                    </div>
                    <br>
                    <form enctype="multipart/form-data" action="{% url 'update_picture' user.username %}" method="post" name="add-pyment_form">
                        {% csrf_token %}
                        <input type="file" name="image" id="">
                        <br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="add-pyment-modal" tabindex="-1" aria-labelledby="add-pyment-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-pyment-modal">Add Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add_payment' user.username %}" method="post" name="add-pyment_form">
                        {% csrf_token %}
                        {{ pay_form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-receipt-modal" tabindex="-1" aria-labelledby="add-receipt-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-receipt-modal">Add Receipt</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add_receipt' user.username %}" method="post" name="add-receipt_form">
                        {% csrf_token %}
                        {{ receive_form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>
    {% if user.cartitems.count %}
        <a href="{% url 'cart' %}">you have {{ user.cartitems.count }} items in cart</a>
    {% else %}
        <p>Your cart is empty</p>
    {% endif %}
    {% if user.account.details.offers_no %}
        <a href="{% url 'user_offers'  user.username %}">
            <div>
                <h3>You have requested {{ user.account.details.offers_no }} offer{{ user.account.details.offers_no|pluralize}}.</h3>
            </div>
        </a>
    {% endif %}

    {% if user.account.details.sales_no %}
        <a href="{% url 'user_sales'  user.username %}">
            <div>
                <h3>You have ordered {{ user.account.details.sales_no }} invoice{{ user.account.details.sales_no|pluralize}}.</h3>
            </div>
        </a>
    {% endif %}


    {% if user.account.details.purchases_no %}
        <a href="{% url 'user_purchases'  user.username %}">
            <div>
                <h3>You have delivered {{ user.account.details.purchases_no }} invoice{{ user.account.details.purchases_no|pluralize}}.</h3>
            </div>
        </a>
    {% endif %}

    
    {% if user.account.details.payments_no %}
        <a href="{% url 'user_payments'  user.username %}">
            <div>
                <h3>You have delivered {{ user.account.details.payments_no }} Payment{{ user.account.details.payments_no|pluralize}}.</h3>
            </div>
        </a>
    {% endif %}

    
    {% if user.account.details.receipts_no %}
        <a href="{% url 'user_receipts'  user.username %}">
            <div>
                <h3>You have delivered {{ user.account.details.receipts_no }} Receipt{{ user.account.details.receipts_no|pluralize}}.</h3>
            </div>
        </a>
    {% endif %}
{% endblock %}
