{% extends 'base.html' %}
{% block title %}عروض الاسعار {% endblock %}
{% block content %}

{% load humanize %}

    <div class="container">
        <h1>قائمة بكل العروض</h1>
            {% for offer in offers %}
                <a href="{% url 'offer_profile' offer.id %}" class="text-dark text-decoration-none">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <h3>{{ offer.description }}</h3>
                        <p>{{ offer.member.full_name }}</p>
                        <p>{{ offer.value|floatformat:2|intcomma }}</p>
                        <p>{{ offer.created_at|naturaltime  }}</p>
                    </div>
                </a>
            {% endfor %}

    </div>
    

{% endblock %}
