{% extends 'base.html' %}
{% load humanize %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>
            <!-- {{member.first_name}} {{ member.last_name }} -->
            {{ user.first_name  }} {{user.last_name}}
        </h3>
        <p>Email : {{ user.email }}</p>
        <p>Username @{{user.username }}</p>
    </div>


    <div>
        {% for offer in user.offer.all %}
            <a href="{% url 'offer_profile' offer.id %}" class="text-dark text-decoration-none">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h3>{{ offer.description }}</h3>
                    <p>{{ offer.value|floatformat:2|intcomma }}</p>
                    <p>{{ offer.created_at|naturaltime  }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
