
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #e2dacf;
}
/* .container {
    border: 1px solid red;
} */
p {
    margin-bottom: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
    margin-bottom: unset;
}
.categories .main-header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.categories .main-content .category .header {
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.categories .main-content .category .container {
    padding: 0;
    min-height: unset;
}
.categories
    .main-content
    .category
    .container
    .container-container-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.categories
    .main-content
    .category
    .container
    .container-container-content
    .card {
    position: relative;
    margin: 10px;
    height: 405.33px;
    overflow: hidden;
    border: none;
    border-radius: 0;
}
.categories
    .main-content
    .category
    .container
    .container-container-content
    .card
    .image {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories
    .main-content
    .category
    .container
    .container-container-content
    .card
    .image
    img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
.categories
    .main-content
    .category
    .container
    .container-container-content
    .card
    .text {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000, #00000049);
    min-height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.categories
    .main-content
    .category
    .container
    .container-container-content
    .card
    .text
    h4 {
    color: white;
}
.categories
    .main-content
    .category
    .container
    .container-container-content
    .card
    .text
    p {
    color: white;
}
.categories .main-content .category .tolist {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media screen and (max-width: 1400px) {
    .categories .main-header h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card {
        height: 318.33px;
    }
}
@media screen and (max-width: 1400px) {
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card {
        height: 248.32999999999998px;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .text
        h4 {
        font-size: 18px;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .text
        p {
        font-size: 13px;
    }
}
@media screen and (max-width: 992px) {
    .categories .main-header {
        height: 100px;
    }
    .categories .main-header h1 {
        font-size: 25px;
    }
    .categories .main-content .category .header {
        min-height: 80px;
    }
    h2 {
        font-size: 1.2rem;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 520px) {
    .categories
        .main-content
        .category
        .container
        .container-container-content {
        grid-template-columns: 1fr;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card {
            margin: 10px 0;
    }
}
