{% extends 'base.html' %}

{% block title %} Invoices {% endblock %}

{% block content %}
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" >
  </div>
  <div class="form-group">
    <label for="value">Value</label>
    <input type="number" class="form-control" id="value" >
  </div><br>
    
    <button class="btn btn-primary"  id="post">Add H1</button>
<div id="output"></div>

{% endblock %}


{% block script %}
  <script>
    const name = document.getElementById('name')
    const value = document.getElementById('value')
    const url = '/invoice/add_h1/'
    const csrfToken = '{{csrf_token}}';
    {% comment %} const request = new request(url, {
      headers : {
        'X-CSRFToken': csrfToken,
      },
      body : {
        'name' : name.value,
        'value' : value.value
      }
    }) {% endcomment %}

    {% comment %} async function getdata() {
      const response = await fetch(request)
      const data = await response.json()
      console.log(data)
    } {% endcomment %}

    document.getElementById('post').onclick = () => {
      const  requestObj = new XMLHttpRequest()
      requestObj.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText)
          const resTxt = this.responseText
          const backData = JSON.parse(resTxt);
          console.log(backData)
          const div = document.getElementById('output')
          p = document.createElement('p')
          y = document.createElement('p')
          z = document.createElement('p')
          p.innerHTML = backData.name
          y.innerHTML = backData.value
          z.innerHTML = backData.id
          div.appendChild(p)
          div.appendChild(y)
          div.appendChild(z)
          name.value = ""
          value.value = ""
        }
      }
      requestObj.open("POST", '/invoice/add_h1/')
      requestObj.setRequestHeader("X-CSRFToken", csrfToken)
      const formdata = new FormData()
      formdata.append('name', name.value)
      formdata.append('value', value.value)
      requestObj.send(formdata)
      console.log(this.responseText)
    }

  </script>
{% endblock %}
