{% extends 'base.html' %}
{% load static %}
{% block title %} Purchase invoice {% endblock %}
{% block content %}

{% load humanize %}


<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-purchase-modal">
    Delete
</button>
<br><br>

<!-- delete-purchase-modal.html -->

<div class="modal fade" id="delete-purchase-modal" tabindex="-1" aria-labelledby="delete-purchase-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="delete-purchase-modal-label">Delete purchase Invoice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete this Invoice?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="{% url 'purchase_delete' invoice.id %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            <button type="submit" class="btn btn-danger" id="confirm-delete-sale">Confirm Delete</button>
        </form>
        </div>
    </div>
    </div>
</div>

    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h1>{{ invoice.description }}</h1>
            <p>{{ invoice.user.first_name }} {{ invoice.user.last_name }}</p>
            <p>{{ invoice.value|floatformat:2|intcomma }}</p>
            <p>{{ invoice.created_at|naturaltime  }}</p>
        </div>
        <div>
            <table class="table table-striped table-bordered table-hover" id="cart_items">
                <tr id="table_head">
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>NO</th>
                    <th>Total</th>
                </tr>
                {% for item in invoice.items.all %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.price|floatformat:2|intcomma }}</td>
                        <td>{{ item.q|intcomma }}</td>
                        <td>{{ item.item_value|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <td>#</td>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td>{{ invoice.total_value|floatformat:2|intcomma }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <input type="hidden" id="total_data" value="{{total}}">



{% endblock %}

