{% extends 'base.html' %}
{% load static %}
{% block title %} اضف شركة  {% endblock %}
{% block content %}




<div class="container my-1 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">اضافة شركة</h4>
        </div>
        <div class="card-body">
          <form action="{% url 'add_company' %}" method="post" >
            {% csrf_token %}
            <p>
            {{ form.as_p }}
              <label for="id_gov">المحافظة:</label>
              <select name="gov" class="form-control" required="" id="id_gov">
                <option value="" selected="">---------</option>
                {% for gov in govs %}
                <option value="{{gov.id}}">{{ gov.name }}</option>
                {% endfor %}
              </select>
            </p>
            
            <p>
              <label for="id_city">المدينة او المركز:</label>
              <select name="city" class="form-control" required="" id="id_city">
                <option value="" selected="">---------</option>
              </select>
            </p>
            {{ address_form.as_p }}
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary">إضافة</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'pumpoffers/gov_select.js' %}"></script>
  <!-- <script src="{% static '/membersjs/add_company.js' %}"></script> -->
{% endblock %}


