{% extends 'base.html' %}
{% load static %}
<!-- comment  -->
{% block title %}قائمة الشركات  {% endblock %}
<!-- comment  -->
{% block content %}

<!-- <link rel="stylesheet" href="{% static 'membersjs/co_list.css' %}"> -->

<div class="container py-3  px-4 px-lg-5 my-2">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/images/favicon.ico" alt="..." height="250" /></div>
        <div class="col-md-6">
            <div class="small mb-1">قسم الشركات</div>
            <h1 class="display-5 fw-bolder">الشركات المشتركة في الموقع</h1>
            <div class="fs-5 mb-5">
                <span>عدد الشركات المشتركة {{ companies.count }} شركة</span>
            </div>
        </div>
    </div>
</div>
    <!-- Related items section-->
        <div class="container px-4 px-lg-5 mt-2">
            <h2 class="fw-bolder mb-4">قائمة الشركات</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for company in companies %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if company.image %}
                        <img class="card-img-top" src="{{company.image.url}}" alt="..." height="125"/>
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{company.name}}</h5>
                                <!-- Product price-->
                                {{company.description}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'co_profile' company.slug %}">المزيد عن الشركة</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %} 