{% extends 'base.html' %}
{% load static %}
<!-- comment  -->
{% block title %} List of Companies {% endblock %}
<!-- comment  -->
{% block content %}

<link rel="stylesheet" href="{% static 'membersjs/co_list.css' %}">

<header>
    <h1>Companies</h1>
</header>

{% for company in companies %}

<a id="main-card" href="{% url 'co_profile' company.slug %}" class="text-dark text-decoration-none">
    <div class="card">
        <div class="image">
            <img src="{{company.image.url}}" alt="" />
        </div>
        <div class="text">
            <h4>{{ company.name }}</h4>
            <p>{{ company.phone }}</p>
        </div>
    </div>
</a>
{% endfor %}
<!-- comment  -->
{% endblock %}