{% extends 'base.html' %}
{% load static %}
<!-- comment -->
{% block title %} {{company.name}} {% endblock %}
<!-- comment -->
{% block content %}

<div class="container py-3  px-4 px-lg-5 my-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-company-modal">
        تعديل
    </button>

    <div class="modal fade" id="update-company-modal" tabindex="-1" aria-labelledby="update-company-modal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-company-modal">تعديل</h5>
                    <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" action="{% url 'update_company' company.slug %}" method="post"
                        name="update-company_form">
                        {% csrf_token %} 
                        <p>
                        {{ form.as_p }}
                          <label for="id_gov">المحافظة:</label>
                          <select name="gov" class="form-control" required="" id="id_gov">
                            <option value="{{company.address.city.gov.id}}" selected="">{{ company.address.city.gov.name }}</option>
                            {% for gov in govs %}
                            {% if not gov.id == company.address.city.gov.id %}
                            <option value="{{gov.id}}">{{ gov.name }}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </p>
                        
                        <p>
                          <label for="id_city">المدينة او المركز:</label>
                          <select name="city" class="form-control" required="" id="id_city">
                            <option value="{{company.address.city.id}}" selected="">{{company.address.city.name}}</option>
                          </select>
                        </p>
                        {{ address_form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            تعديل
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-company-modal">
        حذف
    </button>
    <br /><br />

    <!-- delete-company-modal.html -->

    <div class="modal fade" id="delete-company-modal" tabindex="-1" aria-labelledby="delete-company-modal-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-company-modal-label">
                        حذف الشركة
                    </h5>
                    <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    هل انت متأكد من حذف هذه الشركة؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        إالغاء
                    </button>
                    <form action="{% url 'delete_company' company.slug %}" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                        <button type="submit" class="btn btn-danger" id="confirm-delete-company">
                            تأكيد الحذف
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{company.image.url}}" alt="..." /></div>
        <div class="col-md-6">
            <div class="small mb-1"></div>
            <h1 class="display-5 fw-bolder">{{ company.name }}</h1>
            <div class="fs-5 mb-5">
                <span>{{ company.description }}</span>
            </div>
            <p>{{company.owner.full_name}}</p>
            <p><i class='bx bx-phone'></i> {{company.phone}}</p>
            <p>@ {{company.email}}</p>
            <p>{{company.website}}</p>
            <p><i class='bx bx-map'></i> {{company.address.location}}</p>
        </div>
    </div>
</div>
<!-- Related items section-->
<div class="container px-4 px-lg-5 mt-2">
    {% if company.tender_offers.count %}
    <h5 class="fw-bolder mb-4">عروض الاسعار المقدمة من الشركة</h5>
    {% else %}
    <h5 class="fw-bolder mb-4">لا توجد عروض اسعار مقدمة من شركة {{ company.name }} حتى الان</h5>
    {% endif %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for offer in company.tender_offers.all %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{offer.company.image.url}}" height="150" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{offer.request.tender.name}}</h5>
                        <!-- Product price-->
                        {{offer.value}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            href="{% url 'offer_profile' offer.id %}">تفاصيل العرض</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'pumpoffers/gov_select.js' %}"></script>
{% endblock %}