{% extends 'base.html' %}
{% load static %}
<!-- comment -->
{% block title %} {{company.name}} {% endblock %}
<!-- comment -->
{% block content %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-company-modal">
    تعديل
</button>

<div class="modal fade" id="update-company-modal" tabindex="-1" aria-labelledby="update-company-modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-company-modal">تعديل</h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'update_company' company.slug %}" method="post"
                    name="update-company_form">
                    {% csrf_token %} {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        تعديل
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-company-modal">
    حذف
</button>
<br /><br />

<!-- delete-company-modal.html -->

<div class="modal fade" id="delete-company-modal" tabindex="-1" aria-labelledby="delete-company-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-company-modal-label">
                    حذف الشركة
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف هذه الشركة؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إالغاء
                </button>
                <form action="{% url 'delete_company' company.slug %}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-company">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static '/membersjs/co_profile.css' %}">
<style>
</style>

<div class="comany-content">
    <div class="image">
        <img src="/{{company.image}}" alt="" />
    </div>
    <div class="text">
        <div class="head">
            <h1>{{ company.name }}</h1>
            <p>description : {{ company.description }}</p>
        </div>
        <div class="body">
            <p>phone : {{ company.phone }}</p>
            <p>email : {{ company.email }}</p>
            <p>website : {{ company.website }}</p>
            <p>address : {{ company.address }}</p>
            {% if company.owner.full_name %}
            <p>
                owner : {{ company.owner.first_name }}
                <!-- comment -->
                {{company.owner.last_name }}
            </p>
            {% else %}
            <p>owner : {{ company.owner.username }}</p>
            {% endif %}
        </div>
        <p>Categories :</p>
        {% for category in company.category.all %}
        <ul>
            <li>{{ category }}</li>
        </ul>
        {% endfor %}
    </div>
</div>
<!-- Products For This Company -->
<div class="cards">
    {% if company.products.count %}
    <div class="header">
        <h1>
            Products For <br />
            {{comapny.name}}
        </h1>
    </div>
    <div class="content">
        {% for product in company.products %}
        <div class="card">
            <div class="image"></div>
            <div class="text">
                <h4>Submersible motor</h4>
            </div>
            <div class="order">
                <p>552$</p>
                <form action="www.twitter.com">
                    <button>Buy Now</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="header">
        <h1>
            لا توجد منتجات لشركة <br />
            {{company.name}}
        </h1>
    </div>
    {% endif %}

</div>
{% endblock %}