{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'membersjs/login.css' %}" /> -->
{% endblock mycss %} {% block title %}  طلب عرض سعر  {% endblock %}
{% block content %}


<div class="container my-1 mt-5">
    <section class="py-1">
        <div class="container px-4 px-lg-5 mt-5">
          <h3>الخطوة {{ count }} من {{  tender_request.tender.categories.count}}</h3>
          <h5>{{category.category.name}}</h5>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in category.category.products.all %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}}</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="">
                              <form class="form-group" id="product_selection{{product.id}}" action="">
                                {% csrf_token %}
                                <input  type="hidden" value="{{offer.id}}" name="offer_id">
                                <input type="hidden" value="{{product.id}}" name="product_id">
                                <div class="mb-3">
                                  <label for="price" class="form-label">السعر:</label>
                                  <input class="form-control" type="number" name="price" id="price" value="{{product.prices.last.value}}">
                                </div>
                                <div class="mb-3">
                                  <label for="qty" class="form-label">الكمية:</label>
                                  <input class="form-control"  type="number" name="qty" id="qty" value="1">
                                </div>
                                <div class="d-grid mb-3">
                                  <button onclick="product_submit('{{product.id}}')" type="button" id="product_submit_{{product.id}}" class="btn btn-primary">اضف الي العرض</button>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
        
    {% if count == 'الاخيرة' %}
    <form action="{% url 'confirm_offer' offer.id %}" method="post" >
    {% else %}
    <form action="{% url 'product_selection' offer.id %}" method="post" >
    {% endif %}
      {% csrf_token %}
        <input type="hidden"  name="tender_request" value="{{tender_request.id}}">
        <input type="hidden" name="count" value="{{count}}">
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">التالي</button>
      </div>
    </form>
</div>
<script>
  
function product_submit(id) {
  const submit_btn = document.getElementById(`product_submit_${id}`)
  const product_selection = document.getElementById(`product_selection${id}`)
  const data_form = new FormData(product_selection)
  console.log(data_form.get('price'))
  if (submit_btn.innerText === 'حذف من العرض') {
      url = '/tender-offer/remove-product/'
  } else {
      url = '/tender-offer/add-product/'
  }
  fetch(url, {
      'method' : 'POST',
      'body': data_form,
  }) 
  .then(response => {
      if (response.ok) {
        console.log(response)
        return response.json()
      } else {
      console.log(response)
      }
  })
  .then(data => {
    console.log(data)
    if (data['data'] === 'added') {
      submit_btn.className = "btn btn-danger form-control"
      submit_btn.innerText = 'حذف من العرض'

    } else {
      submit_btn.className = "btn btn-primary form-control"
      submit_btn.innerText = 'اضف الي العرض'

    }
  })
  .catch((error) => {
      console.log(error)

})
}

</script>
{% endblock %}