{% extends 'base.html' %}
<!-- comment -->
{% load static %}
<!-- comment -->
{% load humanize %}
<!-- comment -->
{% block title %} {{tender_request.location.location}} {% endblock %}
<!-- comment -->
{% block content %}


<!-- Product section-->
<div class="container  px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{tender_request.tender.image.url}}" alt="..." width="400"
                height="300" /></div>
        <div class="col-md-6">
            <div class="small mb-1">{{ tender_request.tender.name }}</div>
            <h1 class="display-5 fw-bolder">{{tender_request.location.location}}</h1>
            <p class="lead">{{tender_request.tender.description}}</p>
            
            <ul>
                {% for answer in tender_request.answers.all %}
                {% if answer.question.type == 3 %}
                {% if answer.text == '1' %}
                <li>{{ answer.question.text }}</li>
                {% endif %}
                {% else %}
                <li>{{ answer.question.text }} <strong>{{ answer.text }}</strong>
                    {% if answer.question.unit %}{{ answer.question.unit }}{% endif %}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="container my-1 mt-5">
    <form action="{% url 'add_offer' %}" method="post" >
      {% csrf_token %}
        <input type="hidden"  name="tender_request" value="{{tender_request.id}}">
        <input type="hidden" name="count" value="0">
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">إضافة عرض سعر</button>
      </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> عروض اسعار لــ{{ tender_request.tender.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        {% for request in tender.requests.all %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed me-auto ms-0" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse{{request.id}}" aria-expanded="false"
                                    aria-controls="flush-collapse{{request.id}}">
                                    {{request.location.location}}
                                </button>
                            </h2>
                            <div id="flush-collapse{{request.id}}" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        {% for answer in request.answers.all %}
                                        {% if answer.question.type == 3 %}
                                        {% if answer.text == '1' %}
                                        <li>{{ answer.question.text }}</li>
                                        {% endif %}
                                        {% else %}
                                        <li>{{ answer.question.text }} <strong>{{ answer.text }}</strong>
                                            {% if answer.question.unit %}{{ answer.question.unit }}{% endif %}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <a href="#" class="btn btn-primary">قدم عرض سعر</a>
                                    <a href="#" class="btn btn-primary">تفاصيل اكثر</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}