{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'membersjs/login.css' %}" /> -->
{% endblock mycss %} {% block title %}المدفوعات{% endblock %}
{% block content %}


<div class="container my-1 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">حالة عملية الدفع</h4>
        </div>
        <div class="card-body">
            <h3 class="py-5">
                {{token}}
            </h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}