.container{
    overflow: hidden;
    padding: 100px 0 0 0;
    margin: 0 auto;
    margin-top: unset;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content .image{
    height: 100px;
    width: auto;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .image img{
    height: auto;
    width: 100px;
    filter: grayscale(1);
}
@media screen and (max-width: 750px){
    .content .image{
        height: 50px;
    }
    .content .image img{
        height: auto;
        width: 50px;
        filter: grayscale(1);
    }
}
@media screen and (max-height: 1300px){
    .container{
        padding: 50px 0 0 0;
    }
    .header{
        min-height: 200px;
    }
}
@media screen and (max-height: 600px){
    .header{
        min-height: 100px;
    }
}