
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Averta CY";
}
.container {
    padding: 100px 20px 0 20px;
}
.comany-content {
    min-height: 500px;
    display: flex;
    margin: 0 0 100px 0;
}
.comany-content .image {
    min-height: auto;
    width: 400px;
    padding: 20px;
}
.comany-content .image img {
    height: auto;
    width: 100%;
}
.comany-content .text {
    min-height: 100%;
    width: 100%;
    padding: 20px;
}
.comany-content .text .head {
    padding: 20px 0 50px 0;
}
.comany-content .text .head h1 {
    text-transform: capitalize;
}
.comany-content .text .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
p {
    margin-bottom: unset;
    padding: 10px 0;
    font-size: 20px;
    text-transform: capitalize;
}
.cards {
    min-height: 100px;
    width: 100%;
}
.cards .header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}
.cards .content {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards .content .card {
    margin: 10px;
    min-height: 400px;
    display: grid;
    grid-template-rows: 50% 20% 1fr;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 0px 50px #efefef;
    transition: 0.5s ease box-shadow, 0.5s transform;
    border: none;
}
.cards .content .card:hover {
    box-shadow: 0 0px 100px #818181;
    transform: scale(1.02);
}
.cards .content .card .image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .content .card .image img {
    height: auto;
    width: 50%;
}
.cards .content .card .text {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards .content .card .text h4 {
    margin-bottom: unset;
}
.cards .content .card .order {
    position: relative;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards .content .card .order p {
    position: relative;
    font-size: 20px;
    padding: 0 0 5px 0;
}
.cards .content .card .order p::before {
    content: "556$";
    position: absolute;
    top: 0;
    right: 0;
    color: #a4a4a4;
    text-decoration: line-through;
}
.cards .content .card .order button {
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 10px;
    background: #0000;
    border: 2px solid black;
    transition: 0.5s background, 0.5s color;
}
.cards .content .card:hover .order button {
    background: #000;
    color: white;
}
.cards .content .card:hover .order button:hover {
    background: #0000;
    color: black;
}

@media screen and (max-width: 1500px) {
    p {
        font-size: 18px;
    }
    li {
        font-size: 15px;
    }
    .cards .content .card {
        min-height: 370px;
    }
    .card .text h4 {
        font-size: 20px;
    }
    .cards .content .card .order button {
        padding: 0.3rem 0;
        font-size: 15px;
    }
    .cards .content .card .order p {
        font-size: 18px;
    }
}
@media screen and (max-width: 1400px) {
    p {
        font-size: 15px;
    }
    li {
        font-size: 12px;
    }
    .cards .content {
        width: 800px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards .content .card {
        min-height: 330px;
    }
    .card .text h4 {
        font-size: 15px;
    }
    .cards .content .card .order button {
        padding: 0.3rem 0;
        font-size: 12px;
    }
    .cards .content .card .order p {
        font-size: 15px;
    }
}
@media screen and (max-width: 1200px) {
    .btn-primary,
    .btn {
        font-size: 12px;
    }
    .comany-content {
        min-height: 420px;
    }
    .comany-content .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .comany-content .text .head {
        padding: 0;
    }
    .comany-content .text .head h1 {
        font-size: 30px;
    }
    .comany-content .text .body {
        grid-template-columns: 1fr;
    }
    p {
        font-size: 15px;
    }
    li {
        font-size: 12px;
    }
    .cards .header {
        min-height: 150px;
    }
    .cards .header h1 {
        font-size: 30px;
    }
    .cards .content {
        width: 800px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards .content .card {
        min-height: 330px;
    }
    .card .text h4 {
        font-size: 15px;
    }
    .cards .content .card .order button {
        padding: 0.3rem 0;
        font-size: 12px;
    }
    .cards .content .card .order p {
        font-size: 15px;
    }
}
@media screen and (max-width: 990px) {
    .container {
        max-width: 600px;
    }
    .comany-content {
        min-height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0 100px 0;
    }
    .cards .content {
        width: unset;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 580px) {
    .container {
        max-width: 600px;
    }
    .comany-content {
        min-height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0 30px 0;
    }
    .comany-content .image {
        padding: 0px;
        width: 100%;
    }
    .comany-content .text {
        padding: 30px 0px;
    }
    .cards .header {
        min-height: 120px;
    }
    .cards .header h1 {
        font-size: 20px;
    }
    .cards .content {
        grid-template-columns: 1fr;
    }
    .cards .content .card {
        margin: 10px auto;
        width: 255px;
    }
}