
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: unset;
    padding: unset;
    margin: unset;
    margin-top: unset;
}

footer {
    min-height: 500px;
    width: 100%;
    padding: 0px 500px;
    background: #ddd;
    display: grid;
    grid-template-rows: 90% 10%;
    border-radius: 100px 100px 0px 0px;
}
footer .up {
    padding: 100px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #000;
}
footer .up .logo {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    overflow: hidden;
}
footer .up .logo h1 {
    overflow: hidden;
}
footer .up .logo p {
    font-size: 20px ;
    font-weight: lighter;
}
footer .contacts h3 {
    overflow: hidden;
    padding: 0 0 10px 0;
}
footer .contacts ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
footer .contacts ul li img {
    height: auto;
    width: 20px;
}
footer .contacts ul li li {
    transform: translateX(-10px);
}
footer .contacts ul li li a {
    color: gray;
}
footer .socail ul  {
    padding: 5px 0 0 0;
}
footer .socail ul li {
    display: flex;
    align-items: center;
    font-size: 20px;
}
footer .socail ul li img {
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0 10px 0 0;
}
footer .down {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .down p {
    margin-bottom: unset;
}
