{% extends 'base.html' %}
<!-- comment -->
{% load static %}
<!-- comment -->
{% block title %} Brands {% endblock %}
<!-- comment -->
{% block content %}

<link rel="stylesheet" href="{% static 'brands/brands.css' %}" />

<div class="container">
    <div class="header">
        <h1>
            Let's See <br />
            Our Brands
        </h1>
    </div>
    <div class="content">
        {% for brand in brands %}
        <div class="image">
            <img src="{{brand.image.url}}" alt="" />
        </div>
        {% endfor %}
    </div>
</div>

<!-- comment  -->
{% endblock %}
