{% extends 'base.html' %}
<!-- comment -->
{% load static %}
<!-- comment -->
{% block title %} Brands {% endblock %}
<!-- comment -->
{% block content %}

<link rel="stylesheet" href="{% static 'brands/brands.css' %}" />

<div class="brands">
    <div class="header">
        <h1>Let's See <br> Our Brands</h1>
    </div>
    <div class="content">
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/gold.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/vansan.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/frecom.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/blured eddition.svg' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/kurlar.webp' %}" alt="">
        </div>
        <div class="image">
            <img src="{% static 'images/power.webp' %}" alt="">
        </div>
    </div>
</div>

<!-- comment  -->
{% endblock %}
