{% extends 'base.html' %}
{% load static %}
{% block title %} طلب عرض سعر طلمبة غاطسة {% endblock %}
{% block content %}

<div class="shadow p-3 mb-5 bg-white rounded">
  <h3>
    طلب عرض سعر طلمبة غاطسة
  </h3>
  <br>
  <form method="post" action="{% url 'pump_offer_request' %}">
    {% csrf_token %}
    <p>
      <label for="id_gov">المحافظة:</label>
      <select name="gov" class="form-control" required="" id="id_gov">
        <option value="" selected="">---------</option>
        {% for gov in govs %}
        <option value="{{gov.id}}">{{ gov.name }}</option>
        {% endfor %}
      </select>
    </p>
    
    <p>
      <label for="id_city">المدينة او المركز:</label>
      <select name="city" class="form-control" required="" id="id_city">
        <option value="" selected="">---------</option>
      </select>
    </p>
    {{ address_form.as_p }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">تأكيد</button>
  </form>
</div>
<script src="{% static 'pumpoffers/gov_select.js' %}"></script>
{% endblock %}
