{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Pump Offer Request {% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{ offer_request.hp }} hp sub pump offer request </h3>
            <p>Project location in {{ offer_request.address.location }}</p>
            <p>Ground water level {{ offer_request.gwdepth }}m from ground service</p>
            <p>Borehole diameter {{ offer_request.boreholediam }} inchs</p>
            <p>Since {{ offer_request.created_at|naturaltime }}</p>

        </div>
        <div class="col-12">
            <form method="post" action="{% url 'pump_selection' %}">
                {% csrf_token %}
                <input type="hidden" value="{{offer_request.id}}" name="request_id">
                <button class="btn btn-primary" type="submit">submit an offer</button>
            </form>
        </div>
        <div>
            {% for offer in offer_request.offers.all %}
                {% if offer.submit %}
                    <a href="">{{ offer.company.name }} {{ offer.value }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
