{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} طلب عرض سعر طلمبة غاطسة {% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>طلب عرض سعر لــطلمبة غاطسة قدرة {{ offer_request.hp }} حصان </h3>
            <p><small><i class="bx bxs-map"></i> {{ offer_request.address.location }}</small> <i class='bx bxs-stopwatch' ></i> {{ offer_request.created_at|naturaltime }}     </p>
            <p><i class='bx bx-water'></i> عمق وش المية  {{ offer_request.gwdepth }}م من سطح الارض</p>
            <p><i class='bx bx-ruler'></i> قطر ماسورة البير {{ offer_request.boreholediam }} بوصة</p>
            <p><i class='bx bxs-tree-alt'></i> نظام الري: {{ offer_request.irrigation }} </p>
            <p><i class='bx bxs-bolt' undefined ></i> مصدر الكهرباء: {{ offer_request.power }} </p>

        </div>
        {% if user.has_company %}
        <div class="col-12">
            <form method="post" action="{% url 'pump_selection' %}">
                {% csrf_token %}
                <input type="hidden" value="{{offer_request.id}}" name="request_id">
                <button class="btn form-control btn-primary" type="submit">قدم عرض سعر</button>
            </form>
        </div>
        <br><br>
        {% endif %}
            {% for offer in offer_request.offers.all %}
                {% if offer.submit %}
                {% if user == offer_request.user or user == offer.company.owner %}
                <div class="col-md-6 col-sm-12 col-lg-4 col-xl-3 mb-3">
                    <div class="card h-100">
                        <div class="card-header"><small><i class="bx bxs-map"></i> {{ offer.company.name }}</small></div>
                        <div class="card-body text-primary">
                            <h5 style="color: black;" class="card-title"><i class='bx bx-purchase-tag'></i>  {{ offer.value|intcomma }}</h5>
                            <p style="color: black;" class="card-text"><small><i class="bx bxs-map"></i> {{ offer.company.address }}  <i class="bx bxs-time"></i> {{ offer_request.created_at|naturaltime }}</small></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class='bx bxs-stopwatch' ></i> صلاحية العرض {{ offer.valid.period }}</li>
                            <li class="list-group-item">
                                <i class='bx bx-receipt'></i>
                                {% if offer.include_taxes %}
                                القيمة تشمل ضريبة المبيعات والقيمة المضافة
                                {% else %}
                                القيمة لا تشمل ضريبة المبيعات او القيمة المضافة
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <i class='bx bxs-bank'></i>
                                {% if offer.installment %}
                                يوجد امكانية للتقسيط
                                {% else %}
                                لا يوجد امكانية للتقسيط
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <i class='bx bxs-truck'></i>
                                {% if offer.include_trans %}
                                القيمة تشمل النقل الي الموقع
                                {% else %}
                                القيمة لا تشمل النقل الي الموقع
                                {% endif %}
                            </li>
                        </ul>
                        <div class="card-footer bg-transparent border-primary">
                            <a class="btn form-control btn-primary" href="{% url 'offer_profile' offer.id %}" class="card-link">Details</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}
