{% extends 'base.html' %}
{% block title %} Add Sale Invoice {% endblock %}
{% block content %}

    <div class="container">
        <h3>Cart Items</h3>
    </div>
    <input type="hidden" value="{{json_data}}" id="json_data">
  <!-- Add the table element with the Bootstrap classes -->
  <table class="table table-striped table-bordered table-hover" id="cart_items">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>NO</th>
      <th>Total</th>
      <th>Delete</th>
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ index }}</td>
            <td><a href="{% url 'product' item.product.slug %}">{{item.product.name}}</a></td>
            <td>{{item.product.prices.last.value}}</td>
            <td>{{item.q}}</td>
            <td>$2</td>
            <td>Delete</td>
        </tr>
    {% endfor %}
  </table>

  
  <script>
    const json_data = document.getElementById('json_data').value
    data  = JSON.parse(json_data)
    console.log(data)
    const cart_items_table = document.getElementById('cart_items')
    for (var item in data) {
        const item_data = data[item]
        const table_row = document.createElement('tr')
        const td_f = document.createElement('td')
        td_f.innerText = item
        table_row.appendChild(td_f)
        for (var key in item_data) {
            const td = document.createElement('td')
            if ( key === 'name') {
                const link  = document.createElement('a')
                link.setAttribute('href', `/product/${item_data['slug']}`)
                link.innerText = item_data[key]
                td.appendChild(link)
                table_row.appendChild(td)
            } else if ( key === 'id') {
                const delete_item = document.createElement('button')
                delete_item.setAttribute('class', 'btn')
                delete_item.classList.add('btn-danger')
                delete_item.innerText = 'delete'
                delete_item.id = 'delete_item'
                delete_item.setAttribute('name', `${item_data[key]}`)
                td.appendChild(delete_item)
                table_row.appendChild(td)
            } else if ( key === 'slug') {

            } else {
                td.innerText = item_data[key]
                table_row.appendChild(td)
            }
        }
        cart_items_table.appendChild(table_row)

    }
  </script>


{% endblock %}
