{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'membersjs/login.css' %}" /> -->
{% endblock mycss %} {% block title %}نطاق خاص بالشركات فقط{% endblock %}
{% block content %}



<div class="container my-1 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">نطاق خاص بالشركات فقط</h4>
        </div>
        <div class="card-body">
          <div class="text-center">
            <p>عذرا  {{user.first_name}}! غير مصرح لك بدخول هذه الصفحة حيث انها خاصة بالشركات المشتركة في الموقع فقط</p>
            <p>اذا كنت  مشرف احدى الشركات المسجلة بالموقع! <a href="{% url 'logout' %}">اعد تسجيل الدخول من هنا</a></p>
            <p>او يمكنك تسجيل شركتك اذا لم يسبق لك الاشتراك <a href="{% url 'add_company' %}">من هنا</a></p>
            <p>او يمكنك العودة الي <a href="{% url 'home' %}">الصفحة الرئيسية من هنا</a></p>
            <p>شكرا لك {{user.first_name}} على تفهمك.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}