{% load static %}
<link rel="stylesheet" href="{% static 'footer/footer.css' %}">


<footer>
    <div class="content">
        <ul>
            <li>
                <h3>TAQATOOLS</h3>
            </li>
        </ul>
        <ul>
            <li><h4>Contact us</h4></li>
            <li><a href="#">Who we are ?</a></li>
            <li><a href="#">Location Numer 1</a></li>
            <li><a href="#">Location Numer 2</a></li>
            <li>
                <a href="#">Location Numer 3</a>
                <ul>
                    <li><a href="#"> location link</a></li>
                </ul>
            </li>
            <li>
                <a href="mailTo:osama.nasr@taqatools.com"
                    >osama.nasr@taqatools.com</a
                >
            </li>
            <li><a href="tel:1200209895">01200209895</a></li>
        </ul>
        <ul>
            <li><h4>Policies</h4></li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Return Policy</a>
            </li>
        </ul>
        <ul>
            <li><h4>Socail</h4></li>
            <li>
                <img src="static/images/facebook.svg" alt="" />
                <a href="#">FaceBook</a>
            </li>
            <li>
                <img src="static/images/linkedin.svg" alt="" />
                <a href="#">LinkedIn</a>
            </li>
        </ul>
    </div>
    <div class="copy"><h4>All Rights &copy; Reviced 2023</h4></div>
</footer>
