{% load static %}
<link rel="stylesheet" href="{% static 'footer/footer.css' %}">
<style></style>

<footer>
    <div class="up">
        <a href="home.html" class="logo">
            <h1>TAQATOOLS</h1>
            <p>Let's build future together</p>
        </a>
        <div class="contacts">
            <ul>
                <li><h3>Contact us</h3></li>
                <li>
                    <a href="#"
                        ><img src="/static/images/location.svg" alt="" /> Who we
                        are ?</a
                    >
                </li>
                <li>
                    <a href="#"
                        ><img src="/static/images/location.svg" alt="" />
                        Location number one</a
                    >
                </li>
                <li>
                    <a href="#"
                        ><img src="/static/images/location.svg" alt="" />
                        Location number two</a
                    >
                </li>
                <li>
                    <a href="#"
                        ><img src="/static/images/location.svg" alt="" />
                        Location number three</a
                    >
                    <ul>
                        <li><a href="#">Our location in Google Maps </a></li>
                    </ul>
                </li>
                <li>
                    <a href="mailto:osama@souq-alsiraj.com"
                        ><img src="/static/images/location.svg" alt="" />
                        osama@souq-alsiraj.com</a
                    >
                </li>
                <li>
                    <a href="tel:01557909244"
                        ><img src="/static/images/location.svg" alt="" />
                        01557909244</a
                    >
                </li>
            </ul>
        </div>
        <div class="contacts">
            <ul>
                <li>
                    <h3>Policies</h3>
                </li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Return Policy</a></li>
            </ul>
        </div>
        <div class="socail">
            <ul>
                <li>
                    <img src="/static/images/facebook.svg" alt="" /> Facebook
                </li>
                <li>
                    <img src="/static/images/linkedin.svg" alt="" /> Twitter
                </li>
            </ul>
        </div>
    </div>
    <div class="down">
        <p>All Copyright &copy; reviced 2023</p>
    </div>
</footer>
