{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'home/home.css' %}" /> -->
{% endblock mycss %} {% block title %} Home {% endblock %} {% load humanize %}
<!-- this is a command line  -->
{% block content%}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
<div class="home">
    <div class="content">
        <h1>
            اضف الي عملك المزيد من الفرص  مع <br />
مجمع الطاقة      </h1>
        <a href="{% url 'about' %}">المزيد عن شركتنا</a>
    </div>
</div>

<div class="categories">
    <div class="header">
        <h2>الاقسام</h2>
    </div>
    <div class="content">
        <div class="right">
            {% for category in categories %}
            <!-- comment  -->
            {% if forloop.counter <= 2 %}
            <div class="category">
                <h3>{{category.name}}</h3>
                <p>{{category.description}}</p>
                <a href="{% url 'p_category_profile' category.slug %}"
                    >تسوق الان</a
                >
            </div>
            {% endif %}
            <!-- comment  -->
            {% endfor %}
        </div>
        <div class="left">
            {% for category in categories %}
            <!-- comment  -->
            {% if forloop.counter > 2 and forloop.counter <= 5 %}
            <div class="category">
                <h3>{{category.name}}</h3>
                <p>{{category.description}}</p>
                <a href="{% url 'p_category_profile' category.slug %}"
                    >تسوق الان</a
                >
            </div>
            {% endif %}
            <!-- comment  -->
            {% endfor %}
        </div>
    </div>
</div>
<!-- categories Section -->

<div class="products">
    <div class="header">
        <h2>المنتجات</h2>
        <a href="#">عرض الجميع</a>
    </div>
    <div class="content">
        {% for product in products %}
        <a href="{% url 'product' product.slug %}" class="card">
            <div class="images">
                <img src="/{{product.image}}" alt="" />
            </div>
            <div class="text">
                <span>{{product.category}}</span>
                <h4>{{product.name}}</h4>
                <!-- <p>{{product.description}}</p> -->
            </div>
            <div class="order">
                <div class="prices">
                    <p class="price">{{product.price|floatformat:2|intcomma }} <span>EGP</span></p>
                    <div>
                        <p>{{product.o_price|floatformat:2|intcomma }}</p>
                        <span> ج.م</span>
                    </div>
                </div>
                <form action="https://twitter.com/">
                    <button type="submit">تسوق الان</button>
                </form>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<!-- products Section -->

<style></style>

<div class="posts">
    <div class="header">
        <h2>
            احدث المقالات
        </h2>
    </div>
    <div class="content">
        {% for post in posts %}
        <form action="{% url 'post' post.slug %}">
            <button class="post">
                <div class="image">
                    {% if post.image %}
                    <img src="{{post.image.url}}" alt="" />
                    {% endif %}
                </div>
                <style>
                    .posts .content form .post h4{
                        margin: 0 0 20px 0;
                    }
                    .spans{
                        padding: 10px 0;
                    }
                    .spans span{
                        font-size: 12px;
                        padding: 3px 10px;
                        border-radius: 1000px;
                        color: white;
                        background: black;
                    }
                </style>
                <div class="spans">
                    <span>{{post.category}}</span>
                    <span>{{post.timeToRead}}</span>
                </div>
                <h4>{{ post.title }}</h4>
                <p>{{ post.content|safe|truncatewords:50 }}</p>
            </button>
        </form>
        {% endfor %}
    </div>
</div>
<!-- post section  -->

<div class="companies">
    <div class="header">
        <h2>البراندات
        </h2>
    </div>
    <div class="content">
        {% for brand in brands %}
        <!-- comment -->
        {% if forloop.counter <= 5 %}
        <a href="{% url 'brand_profile' brand.slug %}" class="card">
            <div class="image">
                <img src="{{brand.image.url}}" alt="" />
            </div>
            <div class="text">
                <h4>{{brand.name}}</h4>
            </div>
        </a>
        {% endif %}
        <!-- comment -->
        {% endfor %}
        <a href="{% url 'brands' %}" class="all rounded">
            <div class="text">
                <div class="image">
                    <img src="/static/images/arrow.svg" alt="" />
                </div>
                <div class="text">
                    <h5>جميع البراندات</h5>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- Companies Section -->

{% endblock %}
