{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<div>
  <h3>
    Welcome to TAQA TOOLS home page
  </h3>
</div>
<div>
  <a href="{% url 'co_category_list' %}">
    <div>
      <h3>Companies</h3>
    </div>
  </a>
  <br>
  <a href="{% url 'p_category_list' %}">
    <div>
      <h3>Products</h3>
    </div>
    <h1 style="font-size: 100px;">The big one</h1>
  </a>
</div>
<div>
  <img src="{% static 'images/osama.jpeg' %}" alt="">
</div>




{% endblock %}
