{% load static %}

<link rel="stylesheet" href="{% static 'navbar/navbar.css' %}" />
<style>
    * .alert-dismissible {
        position: absolute;
        top: 100px;
        transform: translatex(-50%);
        left: 50%;
        box-shadow: 0 0 20px #dbdbdb;
    }
</style>

<nav>
    <a aria-current="page" href="{% url 'home' %}" class="logo">TAQATOOLS</a>
    <div class="navlinks">
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a aria-current="page" href="{% url 'home' %}"
                        ><i class="bx bx-home"></i> Home</a
                    >
                </li>
                <li>
                    <a href="{% url 'members' %}"
                        ><i class="bx bx-user"></i> Members</a
                    >
                </li>
                <li>
                    <a href="{% url 'companies' %}"
                        ><i class="bx bxs-city"></i> Companies</a
                    >
                </li>
                <li>
                    <a href="{% url 'p_category_list' %}"
                        ><i class="bx bx-basket"></i> Products</a
                    >
                </li>
                <li>
                    <a href="{% url 'brands' %}"
                        ><i class="bx bx-badge-check"></i> Brands</a
                    >
                </li>
                <li>
                    <a href="{% url 'posts' %}"
                        ><i class="bx bx-news"></i> Posts</a
                    >
                </li>
                <li>
                    <a href="{% url 'cart' %}" id="cart-navbar"
                        ><i class="bx bx-cart-alt"></i> Cart
                        ({{user.cartitems.count}})</a
                    >
                </li>
                <hr />
                {% if user.is_authenticated %} {% if user.first_name %}
                <li class="none">
                    <a href="{% url 'user_profile' user.username %}"
                        >Hello {{ user.first_name }}!</a
                    >
                </li>
                {% else %}
                <li class="none">
                    <a href="{% url 'user_profile' user.username %}"
                        >Hello {{ user.username }}!</a
                    >
                </li>
                {% endif %} {% if not user.companies.exists %}
                <li class="none">
                    <a href="{% url 'add_company' %}">Add Company</a>
                </li>
                {% endif %}
            {% endif %}

            <li class="none">
                <a href="{% url 'logout' %}"
                    ><i class="bx bx-log-out"></i> Logout</a
                >
            </li>
            {% else %}
            <li class="none">
                <a href="{% url 'register' %}"
                    ><i class="bx bx-registered"></i> Register</a
                >
            </li>
            <li class="none">
                <a href="{% url 'login' %}"
                    ><i class="bx bx-log-in"></i> Login</a
                >
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="register">
        <ul>
            {% if user.is_authenticated %} {% if user.first_name %}
            <li>
                <a href="{% url 'user_profile' user.username %}"
                    >Hello {{ user.first_name }}!</a
                >
            </li>
            {% else %}
            <li>
                <a href="{% url 'user_profile' user.username %}"
                    >Hello {{ user.username }}!</a
                >
            </li>
            {% endif %} {% if not user.companies.exists %}
            <li>
                <a href="{% url 'add_company' %}">Add Company</a>
            </li>
            {% endif %}

            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="humberger"></div>
</nav>

<script>
    let humberger = document.querySelector(".humberger");
    let navlinks = document.querySelector(".navlinks");
    let body = document.querySelector("body");

    humberger.onclick = function () {
        humberger.classList.toggle("active");
        navlinks.classList.toggle("active");
        body.classList.toggle("active");
    };
</script>
