{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'products/category_list.css' %}" /> -->
{% endblock mycss %}
<!-- comment -->
{% block title %} List of Companies {% endblock %}
<!-- comment -->
{% block content %}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #e2dacf;
    }
    /* .container {
        border: 1px solid red;
    } */
    p {
        margin-bottom: unset;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow: hidden;
        margin-bottom: unset;
    }
    .categories .main-header {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .categories .main-content .category .header {
        min-height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .categories .main-content .category .container {
        padding: 0;
        min-height: unset;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card {
        position: relative;
        margin: 10px;
        height: 405.33px;
        overflow: hidden;
        border: none;
        border-radius: 0;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .image {
        min-height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .image
        img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .text {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, #000, #00000049);
        min-height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .text
        h4 {
        color: white;
    }
    .categories
        .main-content
        .category
        .container
        .container-container-content
        .card
        .text
        p {
        color: white;
    }
    .categories .main-content .category .tolist {
        min-height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    @media screen and (max-width: 1400px) {
        .categories .main-header h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 1.5rem;
        }
        .categories
            .main-content
            .category
            .container
            .container-container-content
            .card {
            height: 318.33px;
        }
    }
    @media screen and (max-width: 1400px) {
        .categories
            .main-content
            .category
            .container
            .container-container-content
            .card {
            height: 248.32999999999998px;
        }
        .categories
            .main-content
            .category
            .container
            .container-container-content
            .card
            .text
            h4 {
            font-size: 18px;
        }
        .categories
            .main-content
            .category
            .container
            .container-container-content
            .card
            .text
            p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 992px) {
        .categories .main-header {
            height: 100px;
        }
        .categories .main-header h1 {
            font-size: 25px;
        }
        .categories .main-content .category .header {
            min-height: 80px;
        }
        h2 {
            font-size: 1.2rem;
        }
        .categories
            .main-content
            .category
            .container
            .container-container-content {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (max-width: 520px) {
        .categories
            .main-content
            .category
            .container
            .container-container-content {
            grid-template-columns: 1fr;
        }
        .categories
            .main-content
            .category
            .container
            .container-container-content
            .card {
                margin: 10px 0;
        }
    }
</style>

<div class="categories">
    <div class="main-header">
        <h1>
            Let's See Our <br />
            Categories & Products
        </h1>
    </div>
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#add-co-category-modal"
    >
        Add Category
    </button>

    <div
        class="modal fade"
        id="add-co-category-modal"
        tabindex="-1"
        aria-labelledby="add-co-category-modal"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-co-category-modal">
                        + Add Category
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form
                        enctype="multipart/form-data"
                        action="{% url 'add_p_category' %}"
                        method="post"
                        name="add_co_category_form"
                    >
                        {% csrf_token %} {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            + Add Category
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        {% for category in categories %} {% if category.parent_id == 0 %}
        <div class="category">
            <div class="header">
                <h2>{{category.name}}</h2>
                <p>{{category.description}}</p>
            </div>
            <div class="container">
                <div class="container-container-content">
                    {% for sub_category in categories %}
                    <!-- comment  -->
                    {% if sub_category.parent_id == category.id %}
                    <a
                        href="{% url 'p_category_profile' sub_category.slug %}"
                        class="card"
                    >
                        <div class="image">
                            <img src="{{sub_category.image.url}}" alt="" />
                        </div>
                        <div class="text">
                            <h4>{{ sub_category.name }}</h4>
                            <p>
                                {{ sub_category.description|truncatewords:20 }}
                            </p>
                        </div>
                    </a>
                    {% endif %}
                    <!-- comment  -->
                    {% endfor %}
                </div>
            </div>
            <div class="tolist">
                <a
                    class="btn btn-primary"
                    href="{% url 'p_category_profile'  category.slug %}"
                    >See All List</a
                >
            </div>
        </div>
        {% endif %}
        <!-- comment  -->
        {% endfor %}
    </div>
</div>
<!-- code  -->

{% endblock %}
