{% extends 'base.html' %}
{% load static %}

{% block mycss %} 
<link rel="stylesheet" href="{% static 'products/category_list.css' %}">
{% endblock mycss %}





<!-- comment -->
{% block title %} List of Companies {% endblock %}
<!-- comment -->
{%block content %}

<!-- code  -->
<div class="categories">
    <div class="main-header">
        <h1>
            Let's See Our <br />
            Categories & Products
        </h1>
    </div>
    <div class="main-content">
        <div class="category">
            <div class="header">
                <h2>Auifer water wells</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae, doloremque.
                </p>
            </div>
            <div class="content">
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tolist">
                <a href="#">See All List</a>
            </div>
        </div>
        <div class="category">
            <div class="header">
                <h2>Solar Energy</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae, doloremque.
                </p>
            </div>
            <div class="content">
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tolist">
                <a href="#">See All List</a>
            </div>
        </div>
        <div class="category">
            <div class="header">
                <h2>Agricultural equipment</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae, doloremque.
                </p>
            </div>
            <div class="content">
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tolist">
                <a href="#">See All List</a>
            </div>
        </div>
        <div class="category">
            <div class="header">
                <h2>Electric power control</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae, doloremque.
                </p>
            </div>
            <div class="content">
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tolist">
                <a href="#">See All List</a>
            </div>
        </div>
        <div class="category">
            <div class="header">
                <h2>Auifer water wells</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Molestiae, doloremque.
                </p>
            </div>
            <div class="content">
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static 'images/img1.jpg' %}" alt="" />
                    </div>
                    <div class="text">
                        <h4>Submersible motor</h4>
                    </div>
                    <div class="order">
                        <p>552$</p>
                        <form action="www.twitter.com">
                            <button>Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tolist">
                <a href="#">See All List</a>
            </div>
        </div>
    </div>
</div>
<!-- code  -->

{% endblock %}
