{% extends 'base.html' %}
<!-- comment  -->
{% load static %}
<!-- comment  -->
{% block title %} {{category.name}} {% endblock %}
<!-- comment  -->
{% block content %}

<div class="container  px-4 px-lg-5 my-5">
    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#update-category-modal">
        <i class='bx h2 mt-2 bx-edit bx-flip-horizontal'></i>
    </button>

    <button type="button" class="btn btn-close" data-bs-toggle="modal" data-bs-target="#delete-category-modal">

    </button>
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{category.image.url}}" alt="..." width="400"
                height="300" /></div>
        <div class="col-md-6">
            <div class="small mb-1">{{ category.name }}</div>
            <h1 class="display-5 fw-bolder">{{category.name}}</h1>
            <p class="lead">{{category.description}}</p>
            {% if category.parent_id %}
            <ul>
                {% for spec in category.specs.all %}
                    <li>
                        <a href="{% url 'update_spec' spec.id %}" style="text-decoration: none;">
                            <i class='bx bx-edit'></i>
                        </a> | 
                        <a href="#" onclick="question_delete('{{spec.id}}')" style="text-decoration: none; color: red;">
                            <i class='bx bx-trash'></i>
                        </a> | 
                        <a href="#" onclick="question_choice('{{spec.id}}')" style="text-decoration: none;">
                            <i class='bx bx-add-to-queue'></i>
                        </a> | 
                        {{ spec.name }}
                        {% if spec.unit %}
                        بال{{ spec.unit }}
                        {% endif %}
                        <ol>
                            {% for choice in spec.choices.all %}
                                <li>
                                    <a href="{% url 'update_choice' choice.id %}" style="text-decoration: none;">
                                        <i class='bx bx-edit'></i>
                                    </a> | 
                                    <a href="#" onclick="choice_delete('{{choice.id}}')" style="text-decoration: none; color: red;">
                                        <i class='bx bx-trash'></i>
                                    </a> | 
                                    {{ choice.text }}
                                </li>
                            {% endfor %}
                        </ol>
                    </li>
                {% endfor %}
                <li>
                    <a href="" data-bs-toggle="modal"
                        data-bs-target="#add-spec-modal" >
                        <i class='bx bx-comment-add' ></i>
                        <i class='bx bx-question-mark' ></i>
                        إضافة خاصية جديدة
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<!-- Product section-->


{% if not category.parent_id %}
<button style="margin: 0 0 0 20px" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#add-category-modal">
    إضافة قسم فرعي</button>
{% endif %}
<br /><br />
<div class="modal fade" id="add-category-modal" tabindex="-1" aria-labelledby="add-category-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-category-modal">
                    إضافة قسم فرعي
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'add_p_category' %}" method="post"
                    name="add_category_form" id="cat_form">
                    {% csrf_token %} {{ category_form.as_p }}
                    <input type="hidden" name="category_id" value="{{ category.id }}" />
                    <button type="submit" class="btn btn-primary">
                        إضافة
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if sub_categories %}
<div class="container">
    <div class="container-container-content">
        {% for sub in sub_categories %}
        <a href="{% url 'p_category_profile' sub.slug %}" class="card">
            <div class="image">
                <img src="/{{sub.image}}" alt="" />
            </div>
            <div class="text">
                <h4>{{ sub.name }}</h4>
                <p>{{ sub.description|truncatewords:20 }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

<button type="button" hidden id="brand_modal" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#add-brand-modal">
    إضافة براند
</button>

<div class="modal fade" id="add-brand-modal" tabindex="-1" aria-labelledby="add-brand-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-brand-modal">إضافة براند</h5>
                <button type="button" id="brand_modal_close" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="brand_form" enctype="multipart/form-data" action="" method="post" name="add_brand_form">
                    {% csrf_token %} {{ brand_form.as_p }}
                    <button type="submit" id="brand_submit" class="btn btn-primary">
                        إضافة
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-product-modal" tabindex="-1" aria-labelledby="add-product-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal">
                    إضافة منتج
                </h5>
                <button type="button" class="btn-close me-auto ms-0" id="product_modal_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'add_product' %}" method="post"
                    name="add_product_form">
                    {% csrf_token %} {{ form.as_p }}
                    <button class="btn btn-primary mb-3" onclick="new_brand()">
                        براند جديد
                    </button>
                    {{ price_form.as_p }}
                    <hr />
                    {% for spec in category.specs.all %} {% if spec.type == 2 %}
                    <label for="{{spec.name}}">{{ spec.name }}</label>
                    <input type="text" name="{{ spec.name }}" class="form-control" id="{{spec.name}}"
                        placeholder="Enter {{ spec.name }}" />
                    <small id="{{spec.name}}Help" class="form-text text-muted"></small><br />
                    {% elif spec.type == 1 %}
                    <label for="{{spec.name}}">{{ spec.name }}</label>
                    <input type="number" name="{{ spec.name }}" class="form-control" id="{{spec.name}}"
                        placeholder="Enter {{ spec.name }}" />
                    <small id="{{spec.name}}Help" class="form-text text-muted">{{ spec.unit }}.</small>
                    <br /><br />
                    {% elif spec.type == 3 %}
                    <label for="{{spec.name}}">{{ spec.name }}</label>
                    <input type="checkbox" onchange="dosomething(id)" name="{{ spec.name }}" class="form-check-input"
                        id="{{spec.name}}" /><br /><br />
                    {% endif %} {% endfor %}
                    <input type="hidden" name="category_id" value="{{ category.id }}" />
                    <button type="submit" class="btn btn-primary">
                        إضافة منتج
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<button hidden  id="question_delete_btn" data-bs-toggle="modal" data-bs-target="#delete-question-modal" >
</button>
<div class="modal fade" id="delete-question-modal" tabindex="-1" aria-labelledby="delete-question-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-question-modal-label">
                    حذف السؤال
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف السؤال؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إلغاء
                </button>
                <form id="question_delete_modal" action="" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-question">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<button hidden  id="choice_delete_btn" data-bs-toggle="modal" data-bs-target="#delete-choice-modal" >
</button>
<div class="modal fade" id="delete-choice-modal" tabindex="-1" aria-labelledby="delete-choice-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-choice-modal-label">
                    حذف الاختيار
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف الاختيار؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إلغاء
                </button>
                <form id="choice_delete_modal" action="" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-choice">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete-tender-modal" tabindex="-1" aria-labelledby="delete-tender-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-tender-modal-label">
                    حذف المناقصة
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف هذه المناقصة؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إلغاء
                </button>
                <form action="" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-tender">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>





<button hidden  id="add_choice_btn" data-bs-toggle="modal" data-bs-target="#add-choice-modal" >
</button>
<div class="modal fade" id="add-choice-modal" tabindex="-1" aria-labelledby="add-choice-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-choice-modal">إضافة اختيار</h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_choice' %}" method="post" name="add_choice_form">
                    {% csrf_token %} 
                    {{ choice_form.as_p }}
                    <input id="question_id" type="hidden" name="question_id" value="" />
                    <button type="submit" class="btn btn-primary">
                        اضافة اختيار جديد
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="add-spec-modal" tabindex="-1" aria-labelledby="add-spec-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-spec-modal">إضافة خاصية</h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_spec' %}" method="post" name="add_spec_form">
                    {% csrf_token %} {{ spec_form.as_p }}
                    <input type="hidden" name="category_id" value="{{ category.id }}" />
                    <button type="submit" class="btn btn-primary">
                        اضافة خاصية جديدة
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function question_delete(id) {
    const del_question = document.getElementById('question_delete_modal')
    del_question.setAttribute('action', `/tenders/question/${id}/delete/`)
    const modal_btn = document.getElementById('question_delete_btn')
    modal_btn.click()
}


function cat_delete(id) {
    const del_cat = document.getElementById('cat_delete_modal')
    del_cat.setAttribute('action', `/tenders/category/${id}/delete/`)
    const cat_del_modal_btn = document.getElementById('cat_delete_btn')
    cat_del_modal_btn.click()
}


function choice_delete(id) {
    const del_choice = document.getElementById('choice_delete_modal')
    del_choice.setAttribute('action', `/tenders/choice/${id}/delete/`)
    const choice_del_modal_btn = document.getElementById('choice_delete_btn')
    choice_del_modal_btn.click()
}


function question_choice(id) {
    const question = document.getElementById('question_id')
    question.value = `${id}`
    const choice_modal_btn = document.getElementById('add_choice_btn')
    choice_modal_btn.click()
}

function get_category(value) {
    console.log(value)
    const cat_id = document.getElementById('category_id')
    cat_id.value = value
}
</script>

<script src="{% static '/products/add_brand.js' %}"></script>

{% endblock %}