{% extends 'base.html' %}
<!-- comment  -->
{% load static %}
<!-- comment  -->
{% block title %} {{category.name}} {% endblock %}
<!-- comment  -->
{% block content %}

<div class="container  px-4 px-lg-5 my-5">
    {% if user.is_authenticated and user.is_superuser %}
    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#update-category-modal">
        <i class='bx h2 mt-2 bx-edit bx-flip-horizontal'></i>
    </button>

    <button type="button" class="btn btn-close" data-bs-toggle="modal" data-bs-target="#delete-category-modal">

    </button>
    {% endif %}
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">{% if category.image %}<img class="card-img-top mb-5 mb-md-0" src="{{category.image.url}}"
                alt="..." width="400" height="300" />{% endif %}</div>
        <div class="col-md-6">
            <div class="small mb-1">{{ category.name }}</div>
            <h1 class="display-5 fw-bolder">{{category.name}}</h1>
            <p class="lead">{{category.description}}</p>
            {% if category.parent_id %}
            {% if user.is_authenticated and user.is_superuser %}
            <ul>
                {% for spec in category.specs.all %}
                <li>
                    <a href="{% url 'update_spec' spec.id %}" style="text-decoration: none;">
                        <i class='bx bx-edit'></i>
                    </a> |
                    <a href="#" onclick="spec_delete('{{spec.id}}')" style="text-decoration: none; color: red;">
                        <i class='bx bx-trash'></i>
                    </a> |
                    <a href="#" onclick="spec_choice('{{spec.id}}')" style="text-decoration: none;">
                        <i class='bx bx-add-to-queue'></i>
                    </a> |
                    {{ spec.name }}
                    {% if spec.unit %}
                    بال{{ spec.unit }}
                    {% endif %}
                    <ol>
                        {% for choice in spec.choices.all %}
                        <li>
                            <a href="{% url 'update_choice_spec' choice.id %}" style="text-decoration: none;">
                                <i class='bx bx-edit'></i>
                            </a> |
                            <a href="#" onclick="choice_delete('{{choice.id}}')"
                                style="text-decoration: none; color: red;">
                                <i class='bx bx-trash'></i>
                            </a> |
                            {{ choice.text }}
                        </li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}
                <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#add-spec-modal">
                        <i class='bx bx-comment-add'></i>
                        <i class='bx bx-question-mark'></i>
                        إضافة خاصية جديدة
                    </a>
                </li>
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<!-- Product section-->




<!-- Related items section-->
<div class="container py-1 px-4 px-lg-5 mt-2">
    {% if category.parent_id %}
    {% if user.is_authenticated and user.is_superuser %}
    <button style="margin: 20px" type="button" id="product_modal" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#add-product-modal">
        إضافة منتج
    </button>
    {% endif %}
    {% if category.products.count %}
    <h2 class="fw-bolder mb-4"> المنتجات الخاصة بقسم {{ category.name }}</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in category.products.all %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                {% if product.image %}
                <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                {% endif %}
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.name}}</h5>
                        <!-- Product price-->
                        {{product.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            href="{% url 'product' product.slug %}">المزيد</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="fw-bolder mb-4">لم يتم اضافة منتجات بقسم {{ category.name }} حتى الان</h2>
    {% endif %}
    {% else %}
    {% if user.is_authenticated and user.is_superuser %}
    <button style="margin: 0 0 0 20px" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#add-category-modal">
        إضافة قسم فرعي</button>
    {% endif %}
    {% if sub_categories %}
    <h2 class="fw-bolder mb-4">الاقسام المرتبطة بقسم {{ category.name }}</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for sub_category in sub_categories %}
        {% if sub_category.parent_id == category.id %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                {% if sub_category.image %}
                <img class="card-img-top" src="{{sub_category.image.url}}" height="200" alt="..." />
                {% endif %}
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{sub_category.name}}</h5>
                        <p>{{ sub_category.description }}</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            href="{% url 'p_category_profile' sub_category.slug %}">المزيد عن القسم</a></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <h2 class="fw-bolder mb-4"> لا يوجد اقسام فرعية بقسم {{ category.name }} حتى الان.</h2>
    {% endif %}
    {% endif %}
</div>


<div class="modal fade" id="add-category-modal" tabindex="-1" aria-labelledby="add-category-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-category-modal">
                    إضافة قسم فرعي
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'add_p_category' %}" method="post"
                    name="add_category_form" id="cat_form">
                    {% csrf_token %} {{ category_form.as_p }}
                    <input type="hidden" name="category_id" value="{{ category.id }}" />
                    <button type="submit" class="btn btn-primary">
                        إضافة
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<button type="button" hidden id="brand_modal" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#add-brand-modal">
    إضافة براند
</button>

<div class="modal fade" id="add-brand-modal" tabindex="-1" aria-labelledby="add-brand-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-brand-modal">إضافة براند</h5>
                <button type="button" id="brand_modal_close" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="brand_form" enctype="multipart/form-data" action="" method="post" name="add_brand_form">
                    {% csrf_token %} {{ brand_form.as_p }}
                    <button type="submit" id="brand_submit" class="btn btn-primary">
                        إضافة
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="update-category-modal" tabindex="-1" aria-labelledby="update-category-modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-category-modal">تعديل</h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'update_p_category' category.slug %}" method="post"
                    name="update-category_form">
                    {% csrf_token %} {{ update_category_form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        تعديل
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add-product-modal" tabindex="-1" aria-labelledby="add-product-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal">
                    إضافة منتج
                </h5>
                <button type="button" class="btn-close me-auto ms-0" id="product_modal_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'add_product' %}" method="post"
                    name="add_product_form">
                    {% csrf_token %} {{ form.as_p }}
                    <button class="btn btn-primary mb-3" onclick="new_brand()">
                        براند جديد
                    </button>
                    {{ price_form.as_p }}
                    {% for spec in category.specs.all %}
                    {% if spec.type == 1 %}
                    <div class="mb-3">
                        <label for="{{spec.id}}" class="form-label">{{spec.name}} ({{spec.unit}}):</label>
                        <input type="number" class="form-control" id="name" name="{{spec.id}}" required>
                    </div>
                    {% elif spec.type == 2 %}
                    {% if not spec.choices %}
                    <div class="mb-3">
                        <label for="{{spec.id}}" class="form-label">{{spec.name}}:</label>
                        <input type="text" class="form-control" id="name" name="{{spec.id}}" required>
                    </div>
                    {% else %}
                    <label for="{{spec.id}}" class="form-label">{{spec.name}}:</label>
                    <select name="{{spec.id}}" class="form-select" aria-label="Default select example">
                        <option selected>اختر من القائمة</option>
                        {% for choice in spec.choices.all %}
                        <option value="{{choice.id}}">{{choice.text}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {% endif %}
                    {% elif spec.type == 3 %}
                    <div class="form-check form-switch form-check-reverse">
                        <input name="{{spec.id}}" class="form-check-input" type="checkbox" id="check{{spec.id}}">
                        <label class="form-check-label" for="flexSwitchCheckReverse">{{spec.name}}</label>
                    </div>
                    <br>
                    {% endif %}
                    {% endfor %}
                    <input type="hidden" name="category_id" value="{{ category.id }}" />
                    <button type="submit" class="btn btn-primary">
                        إضافة منتج
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<button hidden id="spec_delete_btn" data-bs-toggle="modal" data-bs-target="#delete-spec-modal">
</button>
<div class="modal fade" id="delete-spec-modal" tabindex="-1" aria-labelledby="delete-spec-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-spec-modal-label">
                    حذف السؤال
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف هذه الخاصية؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إلغاء
                </button>
                <form id="spec_delete_modal" action="" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-spec">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<button hidden id="choice_delete_btn" data-bs-toggle="modal" data-bs-target="#delete-choice-modal">
</button>
<div class="modal fade" id="delete-choice-modal" tabindex="-1" aria-labelledby="delete-choice-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-choice-modal-label">
                    حذف الاختيار
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف الاختيار؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إلغاء
                </button>
                <form id="choice_delete_modal" action="" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-choice">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete-category-modal" tabindex="-1" aria-labelledby="delete-category-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-category-modal-label">
                    حذف القسم
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف هذا القسم؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    إلغاء
                </button>
                <form action="{% url 'delete_p_category' category.slug %}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-tender">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>





<button hidden id="add_choice_btn" data-bs-toggle="modal" data-bs-target="#add-choice-modal">
</button>
<div class="modal fade" id="add-choice-modal" tabindex="-1" aria-labelledby="add-choice-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-choice-modal">إضافة اختيار</h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_choice_spec' %}" method="post" name="add_choice_form">
                    {% csrf_token %}
                    {{ choiceform.as_p }}
                    <input id="spec_id" type="hidden" name="spec_id" value="" />
                    <button type="submit" class="btn btn-primary">
                        اضافة اختيار جديد
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="add-spec-modal" tabindex="-1" aria-labelledby="add-spec-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-spec-modal">إضافة خاصية</h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_spec' %}" method="post" name="add_spec_form">
                    {% csrf_token %} {{ spec_form.as_p }}
                    <input type="hidden" name="category_id" value="{{ category.id }}" />
                    <button type="submit" class="btn btn-primary">
                        اضافة خاصية جديدة
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function spec_delete(id) {
        const del_spec = document.getElementById('spec_delete_modal')
        del_spec.setAttribute('action', `/product/specs/delete/${id}`)
        const modal_btn = document.getElementById('spec_delete_btn')
        modal_btn.click()
    }



    function choice_delete(id) {
        const del_choice = document.getElementById('choice_delete_modal')
        del_choice.setAttribute('action', `/product/specs/choice/${id}/delete`)
        const choice_del_modal_btn = document.getElementById('choice_delete_btn')
        choice_del_modal_btn.click()
    }


    function spec_choice(id) {
        const question = document.getElementById('spec_id')
        question.value = `${id}`
        const choice_modal_btn = document.getElementById('add_choice_btn')
        choice_modal_btn.click()
    }

</script>

<script src="{% static '/products/add_brand.js' %}"></script>

{% endblock %}