{% extends 'base.html' %}
{% load static  %}
{% block title %} New Post Form {% endblock %}

{% block content %}


<h1 id="messege_id">New Post form</h1>

<form enctype="multipart/form-data" action="" method="POST" id="form_id" class="container">
  {% csrf_token %}
  {{ post_form.media }}
  {{ post_form.as_p }}
  <input type="submit">
</form>
<button id="post_submit" class="btn btn-primary">Create Post</button>
<div id="editor"></div>


<script src="{% static 'posts/add_post.js' %}"></script>
{% endblock %}