{% extends 'base.html' %} {% load static %} {% load humanize %}
<!-- comment -->
{% block title %} Posts {% endblock %}

<!-- comment -->
{% block content %}
<link rel="stylesheet" href="{% static '/posts/posts.css' %}">
<div class="posts">
    <div class="header">
        <h2>Posts</h2>
        <a href="{% url 'add_post' %}" class="btn btn-primary">Add new Post</a>
    </div>
    <div class="content">
        {% if posts %} {% for post in posts %}
        <a href="{% url 'post' post.slug %}" class="post">
            <div class="image">
                {% if post.image %}
                <img src="{{post.image.url}}" alt="" />
                {% endif %}
            </div>
            <div class="text">
                <!-- <p>{{ post.timeToRead }}</p> -->
                <!-- <p>{{ post.created_at|naturaltime }}</p> -->
                <!-- <p>{{ post.auther.full_name }}</p> -->
                <h3>{{ post.title }}</h3>
                <div class="spans">
                    <span>{{post.category}}</span>
                    <span>{{post.timeToRead}}</span>
                </div>
                <p>{{ post.content|safe|truncatewords:100 }}</p>
            </div>
        </a>
        {% endfor %} {% else %}
        <h3>There is no Posts to view</h3>
        {% endif %}
    </div>
</div>

<!-- delete-post-modal.html -->

<div
    class="modal fade"
    id="delete-post-modal"
    tabindex="-1"
    aria-labelledby="delete-post-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-post-modal-label">
                    Delete post
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Cancel
                </button>
                id="post_del" action="" method="POST">
                <input
                    type="hidden"
                    name="csrfmiddlewaretoken"
                    value="{{ csrf_token }}"
                />
                <button
                    type="submit"
                    class="btn btn-danger"
                    id="confirm-delete-post"
                >
                    Confirm Delete
                </button>
                <>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/posts/post_del.js' %}"></script>
{% endblock %}
