{% extends 'base.html' %} {% load humanize %} {% load static %}
<!-- comment  -->
{% block title%} {{ post.title }} {% endblock %} {% block content %}

<button
    type="button"
    id="modal_button"
    class="btn btn-danger"
    data-bs-toggle="modal"
    data-bs-target="#delete-post-modal"
>
    حذف
</button>
<a href="{% url 'post_edit' post.slug %}" class="btn btn-primary">تعديل</a>
<br /><br />
<link rel="stylesheet" href="{% static 'posts/post.css' %}" />
<style></style>
<div class="content">
    <p>{{ post.timeToRead }}</p>
    <p>{{ post.category }}</p>
    <p>{{ post.created_at|naturaltime }}</p>
    <p>{{ post.auther.full_name }}</p>
    <div class="image">
        {% if post.image %}
        <img src="{{post.image.url}}" alt="" />
        {% endif %}
    </div>
    <h3>{{ post.title }}</h3>
    <p>{{ post.content|safe }}</p>
</div>

<div class="also">
    {% if post.category.posts.count > 1 %}
    <h3>Read also</h3>
    {% for cat_post in post.category.posts.all %}
    <!-- comment -->
    {% if not cat_post.id == post.id %}
    <a href="{% url 'post' cat_post.slug %}" class="card">
        <h3>{{ cat_post.title }}</h3>
        <p>{{ cat_post.content|safe|truncatewords:20 }}</p>
    </a>
    {% endif %}
    <!-- comment -->
    {% endfor %}
    <!-- comment  -->
    {% endif %}
</div>

<style></style>

{% if post.category.products.count %}
<div class="header">
    <h3>تسوق الان</h3>
</div>
{% for product in post.category.products.all %}
<a href="{% url 'product' product.slug %}" class="card">
    <div class="image">
        <img src="{{product.image.url}}" alt="" />
    </div>
    <div class="text">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
    </div>
    <div class="order">
        <div class="prices">
            <p>{{product.price}} <span>ج.م</span></p>
            <div>
                <p>{{product.o_price}}</p>
                <span>ج.م</span>
            </div>
        </div>
        <form action="erpjq.com">
            <button>تسوق الان</button>
        </form>
    </div>
</a>
{% endfor %} {% endif %}

<!-- delete-post-modal.html -->

<div
    class="modal fade"
    id="delete-post-modal"
    tabindex="-1"
    aria-labelledby="delete-post-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-post-modal-label">
                    حذف المقال
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف المقال؟
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    إلغاء
                </button>
                <form
                    id="post_del_form"
                    action="{% url 'post_delete' post.slug %}"
                    method="POST"
                >
                    <input
                        type="hidden"
                        name="csrfmiddlewaretoken"
                        value="{{ csrf_token }}"
                    />
                    <button
                        type="submit"
                        class="btn btn-danger"
                        id="confirm-delete-post"
                    >
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
