{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'membersjs/login.css' %}" /> -->
{% endblock mycss %} {% block title %}تعديل صيغة سؤال{% endblock %}
{% block content %}


<div class="container my-1 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">تعديل صيغة سؤال</h4>
        </div>
        <div class="card-body">
          <form action="{% url 'update_question' question.id %}" method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary">تعديل </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}