{% extends 'base.html' %}
<!-- comment -->
{% load static %}
<!-- comment -->
{% load humanize %}
<!-- comment -->
{% block title %} {{tender.name}} {% endblock %}
<!-- comment -->
{% block content %}


<!-- Product section-->
<div class="container  px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{tender.image.url}}" alt="..." width="400"
                height="300" /></div>
        <div class="col-md-6">
            <div class="small mb-1">{{ tender.name }}</div>
            <h1 class="display-5 fw-bolder">{{tender.name}}</h1>
            <p class="lead">{{tender.description}}</p>
        </div>
    </div>
</div>


<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for request in tender.requests.all %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{request.location.location}}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-right small  mb-2">
                                <ul>
                                    {% for answer in request.answers.all %}
                                    {% if answer.question.type == 3 %}
                                        {% if answer.text == '1' %}
                                            <li>{{ answer.question.text }}</li>
                                        {% endif %}
                                    {% else %}
                                        <li>{{ answer.question.text }} <strong>{{ answer.text }}</strong> {% if answer.question.unit %}{{ answer.question.unit }}{% endif %}</li>
                                    {% endif %}
                                        {% endfor %}
                                </ul>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through"></span>
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">المزيد عن المنتج</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    

{% endblock %}