{% extends 'base.html' %} {% load static %} {% block mycss %}
<!-- <link rel="stylesheet" href="{% static 'products/category_list.css' %}" /> -->
{% endblock mycss %}
<!-- comment -->
{% block title %} المناقصات {% endblock %}
<!-- comment -->
{% block content %}


<div class="container py-3 px-4 px-lg-5">
    <a href="{% url 'add_tender'  %}" type="button" class="btn btn-primary">
        اضافة مناقصة
    </a>
    <!-- Heading Row-->
    {% for tender in tenders %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5 py-2">
            <h1 class="font-weight-light">{{ tender.name }}</h1>
            <p>{{ tender.description }}</p>
            <a class="btn btn-primary" href="{% url 'tender_request' tender.id %}">احصل على عرض سعر الان!</a>
        </div>
        <div class="col-lg-7 py-2"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{tender.image.url}}" alt="..." />
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}