{% extends 'base.html' %} {% block title %} Update Product {% endblock %} {%
block content %}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Averta CY";
        text-transform: capitalize;
    }
    :root {
        --h2--size: 40px;
        --h3--size: 30px;
        --h4--size: 20px;
        --a--padding: 0.3rem 2rem;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    h2 {
        font-size: var(--h2--size);
    }
    h3 {
        font-size: var(--h3--size);
    }
    h4 {
        font-size: var(--h4--size);
    }
    p {
        margin-bottom: unset;
    }
    a {
        padding: var(--a--padding);
    }
    a.logo {
        padding: unset;
    }
    .container {
        overflow: visible;
        border: 1px solid red;
    }
    .header {
        min-height: 200px;
        width: 100%;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
    }

    @media screen and (max-width: 1400px) {
        :root {
            --h2--size: 35px;
            --h3--size: 25px;
            --h4--size: 15px;
            --a--padding: 0.3rem 2rem;
        }
        .header {
            min-height: 150px;
        }
    }
    @media screen and (max-width: 1200px) {
        :root {
            --h2--size: 30px;
            --h3--size: 20px;
            --h4--size: 13px;
            --a--padding: 0.2rem 1.5rem;
        }
    }
    @media screen and (max-width: 991px) {
        .header {
            min-height: 100px;
        }
    }
    @media screen and (max-width: 575px) {
        :root {
            --h2--size: 25px;
            --h3--size: 20px;
            --h4--size: 13px;
            --a--padding: 0.2rem 1.5rem;
        }
        p {
            font-size: 12px;
        }
    }
</style>

<div class="return">
    <div class="header">
        <h2>Return Policies</h2>
    </div>
    <!-- <p>{{ about }}</p> -->

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, animi
        laborum? Voluptate provident voluptates dignissimos officia suscipit
        explicabo est commodi error sed accusantium. Sunt, unde excepturi.
        Voluptatibus, quia aliquam dolores unde eaque nisi neque tempora
        molestias molestiae id nulla cum dolorum aspernatur. Culpa, velit.
        Reiciendis ut expedita officia voluptatum tempora blanditiis ipsa
        ratione debitis, velit aliquam quaerat voluptatem asperiores quidem
        perspiciatis vitae voluptate sit quod corrupti quasi fuga. Aliquid
        temporibus neque officia non iusto magni eum nesciunt explicabo
        perferendis quasi veniam numquam aut amet, nulla a delectus quaerat
        possimus ratione consequatur quibusdam deserunt facere voluptatibus ea?
        Vero repellendus porro sapiente quas nesciunt placeat perspiciatis, qui
        reiciendis itaque illo quidem veniam recusandae earum voluptatem
        laudantium, incidunt sed dolorum tempore deserunt commodi? Culpa
        voluptatem voluptate sed impedit dolorum dicta consectetur laboriosam,
        beatae deleniti illum at rem, consequuntur maxime quis. Enim eum atque
        unde deserunt vel dolorem velit! Assumenda excepturi totam facilis esse
        placeat, tempora atque quasi aspernatur dolorum? Voluptatem dolor
        maiores necessitatibus animi dolores quod corporis, perferendis odit
        aliquam quis totam perspiciatis laborum earum vitae? Officiis, adipisci
        assumenda dolore voluptate optio dignissimos, debitis minus porro quis
        ex delectus ipsam necessitatibus vero exercitationem doloribus,
        consequatur dolorem sed obcaecati vel eaque suscipit. Praesentium,
        possimus?
    </p>
</div>

{% endblock %}
