{% extends 'base.html' %}
<!-- comment -->
{% load static %}
<!-- comment -->
{% load humanize %}
<!-- comment -->
{% block title %} {{product.name}} {% endblock %}
<!-- comment -->
{% block content %}


<!-- Product section-->
<div class="container  px-4 px-lg-5 my-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-product-modal">
        تعديل
    </button>

    <div class="modal fade" id="update-product-modal" tabindex="-1" aria-labelledby="update-product-modal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-product-modal">تعديل بيانات منتج</h5>
                    <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" action="{% url 'update_product' product.slug %}" method="post"
                        name="update-product_form">
                        {% csrf_token %} {{ form.as_p }}
                        <!-- comment  -->
                        {% for spec in specs %}
                        {% if spec.type == 1 %}
                        <div class="mb-3">
                            <label for="{{spec.id}}" class="form-label">{{spec.name}} ({{spec.unit}}):</label>
                            <input type="number" class="form-control" id="name" name="{{spec.id}}"  value="{{ spec.value }}" required>
                        </div>
                        {% elif spec.type == 2 %}
                        {% if not spec.choices %}
                        <div class="mb-3">
                            <label for="{{spec.id}}" class="form-label">{{spec.name}}:</label>
                            <input type="text" class="form-control" id="name" name="{{spec.id}}"  value="{{ spec.value }}" required>
                        </div>
                        {% else %}
                        <label for="{{spec.id}}" class="form-label">{{spec.name}}:</label>
                        <select name="{{spec.id}}" class="form-select" aria-label="Default select example">
                            {% if not spec.value %}
                            <option selected value="{{spec.value}}">اختر من القائمة</option>
                            {% endif %}
                            {% for choice in spec.choices.all %}
                            {% if choice.text == spec.value %}
                            <option selected value="{{choice.id}}">{{ choice.text }}</option>
                            {% else %}
                            <option value="{{choice.id}}">{{choice.text}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        {% endif %}
                        {% elif spec.type == 3 %}
                        <div class="form-check form-switch form-check-reverse">
                            {% if not spec.value or spec.value == 0 %}
                            <input name="{{spec.id}}" class="form-check-input"  type="checkbox" id="check{{spec.id}}">
                            {% else %}
                            <input name="{{spec.id}}" class="form-check-input" checked type="checkbox" id="check{{spec.id}}">
                            {% endif %}
                            <label class="form-check-label" for="flexSwitchCheckReverse">{{spec.name}}</label>
                        </div>
                        <br>
                        {% endif %}
                        {% endfor %}
                        <br /><br />
                        <button type="submit" class="btn btn-primary">
                            تعديل
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-product-modal">
        حذف
    </button>
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." /></div>
        <div class="col-md-6">
            <div class="small mb-1"><a href="{% url 'p_category_profile' product.category.slug  %}">{{ product.category }} ></a></div>
            <h1 class="display-5 fw-bolder">{{product.name}}</h1>
            <div class="fs-5 mb-5">
                <span class="text-decoration-line-through">{{product.o_price|floatformat:2|intcomma}}</span>
                <span>{{product.price|floatformat:2|intcomma}}</span>
            </div>
            <p class="lead">{{product.description}}</p>
            <ul>
                {% for spec in product.specs.all %}
                {% if spec.spec.type == 3 %}
                {% if spec.value == '1' %}
                <li>{{ spec.spec.name }}</li>
                {% endif %}
                {% else %}
                <li>{{ spec.spec.name }} <strong>{{ spec.value }}</strong>
                    {% if spec.spec.unit %}{{ spec.spec.unit }}{% endif %}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                    style="max-width: 3rem" />
                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    اضف الي العربة
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Related items section-->
<div class="container px-4 px-lg-5 mt-2">
    <h2 class="fw-bolder mb-4">منتجات ذات صلة</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for cat_product in product.category.products.all %}
        {% if not cat_product.id == product.id %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{cat_product.image.url}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{cat_product.name}}</h5>
                        <!-- Product price-->
                        {{cat_product.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            href="{% url 'product' cat_product.slug %}">المزيد</a></div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% if product.category.posts.count %}
<div class="container">
    <h2 class="fw-bolder mb-4">مقالات ذات صلة</h2>
    <div class="row justify-content-center">
        <!-- Blog entries-->
        <div class="col-lg-12">
            <!-- Featured blog post-->
            <!-- Nested row for non-featured blog posts-->
            <div class="row justify-content-center">
                {% for post in posts %}
                <div class="col-lg-4 col-md-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{{post.image.url}}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title h4">{{ post.title }}</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
                                aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="{% url 'post' post.slug %}">المزيد</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endif %}

<!-- <link rel="stylesheet" href="{% static 'products/product.css' %}" /> -->

<!-- delete-product-modal.html -->

<div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="delete-product-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-product-modal-label">
                    حذف المنتج
                </h5>
                <button type="button" class="btn-close me-auto ms-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من حذف هذا المنتج؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    رجوع
                </button>
                <form action="{% url 'delete_product' product.slug %}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <button type="submit" class="btn btn-danger" id="confirm-delete-product">
                        تأكيد الحذف
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div style="margin: 10px 0" class="modal fade" id="update-price-modal" tabindex="-1"
    aria-labelledby="update-price-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-price-modal">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'update_price' product.slug %}" method="post" name="update-price_form">
                    {% csrf_token %} {{ price_form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'products/product.js' %}"></script>

{% endblock %}