{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}طلب عرض سعر لطلمبة {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div class="container">
    <div class="row">
        <h3>اختيار الادابتور {{ offer.request.user.full_name }}</h3>
        <h6>{{ offer.value }}</h6>
    </div>


    <div class="products">
        <div class="header">
            <h2>اختر الادابتور المناسب من القائمة</h2>
            <a href="#">See All</a>
        </div>
        <div class="content">
            {% for adaptor in adaptors %}
                <div class="images">
                    <img src="{{adaptor.image.url}}" alt="" />
                </div>
                <div class="text">
                    <span>{{adaptor.category}}</span>
                    <h4>{{adaptor.name}}</h4>
                    <!-- <p>{{product.description}}</p> -->
                </div>
                <div class="order">
                    <form class="form-group" id="adaptor_selection_{{adaptor.id}}" method="post" action="#">
                        {% csrf_token %}
                        <input  type="hidden" value="{{offer.id}}" name="offer_id">
                        <input type="hidden" value="{{adaptor.id}}" name="adaptor_id">
                        <label for="price">السعر</label>
                        <input id="price" class="form-control" type="number" value="{{adaptor.price}}" name="price">
                        <label for="q">الكمية</label>
                        <input id="q" class="form-control" type="number" value="1" name="q">
                        <button onclick="adaptor_submit('{{adaptor.id}}')" class="btn btn-primary form-control" id="adaptor_submit_{{adaptor.id}}" type="button">اضف الي العرض</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <form method="post" action="{% url 'cable_selection' %}">
            {% csrf_token %}
            <input type="hidden" value="{{offer.id}}" name="offer_id">
            <button class="btn btn-primary" type="submit">التالي الي الكابلات</button>
        </form>
    </div>

</div>


<script src="{% static 'pumpoffers/adaptors.js' %}"></script>
{% endblock %}
