{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Pump Offer Request {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div class="container">
    <div class="row">
        <h3>Control Panel Selection {{ offer.request.user.full_name }}</h3>
        <h6>{{ offer.value }}</h6>
    </div>


    <div class="products">
        <div class="header">
            <h2>Select Control panel from the List</h2>
            <a href="#">See All</a>
        </div>
        <div class="content">
            {% for control in controls %}
                <div class="images">
                    <img src="{{control.image.url}}" alt="" />
                </div>
                <div class="text">
                    <span>{{control.category}}</span>
                    <h4>{{control.name}}</h4>
                    <!-- <p>{{product.description}}</p> -->
                </div>
                <div class="order">
                    <form class="form-group" id="control_selection_{{control.id}}" method="post" action="#">
                        {% csrf_token %}
                        <input  type="hidden" value="{{offer.id}}" name="offer_id">
                        <input type="hidden" value="{{control.id}}" name="control_id">
                        <label for="price">Price</label>
                        <input id="price" class="form-control" type="number" value="{{control.price}}" name="price">
                        <label for="q">Quantity</label>
                        <input id="q" class="form-control" type="number" value="1" name="q">
                        <button onclick="control_submit('{{control.id}}')" class="btn btn-primary form-control" id="control_submit_{{control.id}}" type="button">Add to offer</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <form method="post" action="{% url 'install_evaluation' %}">
            {% csrf_token %}
            <input type="hidden" value="{{offer.id}}" name="offer_id">
            <button class="btn btn-primary" type="submit">Next to install evaluation</button>
        </form>
    </div>

</div>


<script src="{% static 'pumpoffers/control.js' %}"></script>
{% endblock %}
