{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Pump Offer Request {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div class="container">
    <div class="row">
        <h3>Motor Selection {{ offer.request.user.full_name }}</h3>
        <h6>{{ offer.value }}</h6>
    </div>


    <div class="products">
        <div class="header">
            <h2>Select Motor from the List</h2>
            <a href="#">See All</a>
        </div>
        <div class="container ">
            <div class="row">
                {% for motor in motors %}
                <div class="col-md-6 col-sm-12 col-lg-4 col-xl-3 mb-3 card" >
                    <img src="{{motor.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{motor.name}}</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-group" id="motor_selection_{{motor.id}}" method="post" action="#">
                            {% csrf_token %}
                            <input  type="hidden" value="{{offer.id}}" name="offer_id">
                            <input type="hidden" value="{{motor.id}}" name="motor_id">
                            <label for="price">Price</label>
                            <input id="price" class="form-control" type="number" value="{{motor.price}}" name="price">
                            <label for="q">Quantity</label>
                            <input id="q" class="form-control" type="number" value="1" name="q">
                            <button onclick="motor_submit('{{motor.id}}')" class="btn btn-primary form-control" id="motor_submit_{{motor.id}}" type="button">Add to offer</button>
                        </form>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <form method="post" action="{% url 'pipe_selection' %}">
            {% csrf_token %}
            <input type="hidden" value="{{offer.id}}" name="offer_id">
            <button class="btn btn-primary" type="submit">Next to Pipes</button>
        </form>
    </div>

</div>


<script src="{% static 'pumpoffers/motor.js' %}"></script>
{% endblock %}
