{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Pump Offer Request {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div class="container">
    <div class="row">
        <h3>pump selection {{ offer.request.user.full_name }}</h3>
    </div>


    <div class="products">
        <div class="header">
            <h2>Our Products</h2>
            <a href="#">See All</a>
        </div>
        <div class="content">
            {% for pump in pumps %}
                <div class="images">
                    <img src="/{{pump.image}}" alt="" />
                </div>
                <div class="text">
                    <span>{{pump.category}}</span>
                    <h4>{{pump.name}}</h4>
                    <!-- <p>{{product.description}}</p> -->
                </div>
                <div class="order">
                    <form class="form-group" id="pump_selection" method="post" action="#">
                        {% csrf_token %}
                        <input  type="hidden" value="{{offer.id}}" name="offer_id">
                        <input type="hidden" value="{{pump.id}}" name="pump_id">
                        <label for="price">Price</label>
                        <input id="price" class="form-control" type="number" value="{{pump.price}}" name="price">
                        <label for="q">Quantity</label>
                        <input id="q" class="form-control" type="number" value="1" name="q">
                        <button class="btn btn-primary form-control" id="pump_submit" type="submit">Add to offer</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <form method="post" action="{% url 'motor_selection' %}">
            {% csrf_token %}
            <input type="hidden" value="{{offer.id}}" name="offer_id">
            <button class="btn btn-primary" type="submit">Next to Motors</button>
        </form>
    </div>

</div>


<script>
    const pump_submit = document.getElementById('pump_submit')
    pump_submit.addEventListener('click', function (e) {
        e.preventDefault()
        const pump_selection = document.getElementById('pump_selection')
        const data_form = new FormData(pump_selection)
        console.log(data_form.get('price'))
        if (pump_submit.innerText === 'Remove from offer') {
            url = '/pump-offer/remove-pump-from-offer/'
        } else {
            url = '/pump-offer/add-pump-to-offer/'
        }
        fetch(url, {
            'method' : 'POST',
            'body': data_form,
        })
        .then(response => {
            if (response.ok) {
              console.log(response)
              return response.json()
            } else {
            console.log(response)
            }
        })
        .then(data => {
          console.log(data)
          if (data['data'] === 'added') {
            pump_submit.className = "btn btn-danger form-control"
            pump_submit.innerText = 'Remove from offer'

          } else {
            pump_submit.className = "btn btn-primary form-control"
            pump_submit.innerText = 'Add to offer'

          }
        })
        .catch((error) => {
            console.log(error)
        })
    

    })
</script>
{% endblock %}
