{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Pump Offer Request {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/home.css' %}">

<div class="container">
    <div class="row">
        <h3>pump selection {{ offer.request.user.full_name }}</h3>
    </div>


    <div class="products">
        <div class="header">
            <h2>Our Products</h2>
            <a href="#">See All</a>
        </div>
        <div class="content">
            {% for pump in pumps %}
                <div class="images">
                    <img src="/{{pump.image}}" alt="" />
                </div>
                <div class="text">
                    <span>{{pump.category}}</span>
                    <h4>{{pump.name}}</h4>
                    <!-- <p>{{product.description}}</p> -->
                </div>
                <div class="order">
                    <form class="form-group" id="pump_selection_{{pump.id}}" method="post" action="#">
                        {% csrf_token %}
                        <input  type="hidden" value="{{offer.id}}" name="offer_id">
                        <input type="hidden" value="{{pump.id}}" name="pump_id">
                        <label for="price">Price</label>
                        <input id="price" class="form-control" type="number" value="{{pump.price}}" name="price">
                        <label for="q">Quantity</label>
                        <input id="q" class="form-control" type="number" value="1" name="q">
                        <button onclick="pump_submit('{{pump.id}}')" class="btn btn-primary form-control" id="pump_submit_{{pump.id}}" type="button">Add to offer</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <form method="post" action="{% url 'motor_selection' %}">
            {% csrf_token %}
            <input type="hidden" value="{{offer.id}}" name="offer_id">
            <button class="btn btn-primary" type="submit">Next to Motors</button>
        </form>
    </div>

</div>


<script src="{% static 'pumpoffers/pump.js' %}"></script>
{% endblock %}
