.posts .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.posts .content .post {
    position: relative;
    height: 800px;
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 50px #efefef;
    transition: 0.5s ease box-shadow, 0.5s tran;
    overflow: hidden;
}
.posts .content .post .image {
    border: 1px solid #ddd;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.posts .content .post .image img {
    height: auto;
    width: 100%;
    object-fit: cover;
}
.posts .content .post .text {
    padding: 20px 0;
}
@media screen and (max-width: 1400px) {
    .posts .content .post .image {
        min-height: 250px;
    }
    .posts .content .post {
        min-height: 550px;
    }
}
@media screen and (max-width: 1200px) {
    .posts .content .post {
        min-height: 510px;
    }
    .posts .content .post h4 {
        font-size: 18px;
        margin: 20px 0;
    }
    .posts .content .post p {
        font-size: 13px;
    }
}
@media screen and (max-width: 991px) {
    .posts .content .post h4 {
        font-size: 18px;
        margin: 20px 0;
    }
    .posts .content .post p {
        font-size: 13px;
    }
    .posts .content .post .image {
        min-height: 200px;
    }
}
@media screen and (max-width: 767px) {
    .posts .content {
        grid-template-columns: 1fr;
    }
    .posts .content .post h4 {
        font-size: 18px;
        margin: 20px 0;
    }
    .posts .content .post p {
        font-size: 13px;
    }
    .posts .content .post .image {
        min-height: 50vw;
    }
}
@media screen and (max-width: 575px) {
    .posts .content .post h4 {
        font-size: 18px;
        margin: 20px 0;
    }
    .posts .content .post p {
        font-size: 13px;
    }
}
@media screen and (max-width: 460px) {
    .posts .content .post {
        min-height: 36vw;
    }
}
